<div ng-repeat="phone in phones track by $index">
   <div ng-switch="resolveSignOf($index+1)" class="add-phone-number">
      <a ng-switch-when="plus" ng-hide="cantAddNewPhone()" ng-click="addNewPhone()">
         <i class="fi-plus"></i>
      </a>
      <a ng-switch-when="minus" ng-click="removePhone(phone)">
         <i class="fi-minus"></i>
      </a>
   </div>
   <input type="text" ng-model="phone.number" ng-model-options="{ updateOn: 'blur' }" placeholder="{{::'COMMON.PHONE' | translate}}"
      ui-mask="+9?9?9(99)999-99-99" ui-mask-placeholder ui-mask-placeholder-char="_" onfocus="this.value = this.value || 380"
      ng-change="updatePhoneNumbers(phone, $index)">
</div>
