@import './../../common.scss';

.vacancies-list {
   tr {
      th, td {
         text-align: left;
         font-size: 0.875*$rem-base;
      }
      .vacancy-title {
         width: 25%;
      }
      .vacancy-cities {
         width: 15%;
      }
      .vacancy-department {
         width: 15%;
      }
   }
}
