.vacancies-list {
   tr {
      th, td {
         text-align: left;
      }
      .vacancy-title {
         width: 25%;
      }
      .vacancy-cities {
         width: 15%;
      }
      .vacancy-department {
         width: 15%;
      }
   }
}
