.vacancies-list {
   tr {
      th, td {
         text-align: left;
         font-size: 14px;
      }
      .vacancy-title {
         width: 30%;
      }
      .vacancy-cities {
         width: 15%;
      }
      .vacancy-department {
         width: 10%;
      }
   }
}
