<div class="secondary-menu grid-block">
   <div class="large-2 grid-block">
      <div class="grid-content">
         <h5>{{::'VACANCIES.BASE_OF_VACANCIES' | translate}}</h5>
      </div>
   </div>
   <div class="large-8 grid-block">
   </div>
   <div class="large-2 grid-block align-right">
      <ul class="menu-bar second-button-bar">
         <li><a ng-click="cancel()">{{::'COMMON.CANCEL' | translate}}</a>
         </li>
         <li><a href="#">{{::'COMMON.ADD_AND_BACK' | translate}}</a>
         </li>
      </ul>
   </div>
</div>
<div class="grid-block">
   <div class="medium-3 grid-block">
      <div class="sidebar">
         <div class="card-divider">
            {{::'VACANCIES.SEARCH_VACANCIES' | translate}}
         </div>
         <div class="card-section">
            <form name="searchVacancy">
               <select name="Industry" ng-model="vacancy.industryId">
                  <option selected value="">{{::'COMMON.INDUSTRY' | translate}}</option>
                  <option ng-repeat="industry in thesaurus.industries" value="{{industry.id}}">{{::industry.title}}</option>
               </select>
               <oi-select class="multiple-select" oi-options="level.id as level.title for level in thesaurus.levels" ng-model="vacancy.levelIds" multiple placeholder="{{::'COMMON.LEVEL' | translate}}"></oi-select>
               <input ng-model="vacancy.title" placeholder="Position" type="text">
               <oi-select class="multiple-select" oi-options="location.id as location.title for location in thesaurus.locations" ng-model="vacancy.locationIds" multiple placeholder="{{::'COMMON.LOCATION' | translate}}"></oi-select>
               <select name="Type of Employment" ng-model="vacancy.typeOfEmployment">
                  <option selected value="">{{::'COMMON.TYPE_OF_EMPLOYMENT' | translate}}</option>
                  <option ng-repeat="typeOfEmployment in thesaurus.typesOfEmployment" value="{{typeOfEmployment.id}}">{{::typeOfEmployment.title}}</option>
               </select>
               <select name="State" ng-model="vacancy.vacancyState">
                  <option selected value="">{{::'COMMON.STATUS' | translate}}</option>
                  <option selected value="5">{{::'VACANCY.OPEN' | translate}}</option>
                  <option selected value="6">{{::'VACANCY.PROCESSING' | translate}}</option>
                  <option selected value="7">{{::'VACANCY.CLOSED' | translate}}</option>
                  <option selected value="8">{{::'VACANCY.CANCELLED' | translate}}</option>
               </select>
               <select ng-model="vacancy.userId" name="Responsible">
                  <option selected value="">{{::'COMMON.RESPONSIBLE' | translate}}</option>
                  <option ng-repeat="responsible in responsibles" value="{{responsible.id}}">{{::responsible.lastName}}</option>
               </select>
               <a class="expand button" ng-click="searchVacancies()">{{::'INDEX.SEARCH' | translate}}</a>
            </form>
         </div>
      </div>
   </div>
   <div class="medium-9 grid-block">
      <div class="main-card">
         <div class="card-divider">
            {{::'VACANCIES.VACANCIES' | translate}}
         </div>
         <div class="card-section">
            <table>
               <thead>
                  <tr>
                     <th>№</th>
                     <th>{{::'COMMON.TITLE' | translate}}</th>
                     <th>{{::'COMMON.STATUS' | translate}}</th>
                     <th class="col4">{{::'COMMON.LOCATION' | translate}}</th>
                     <th>{{::'COMMON.RESPONSIBLE' | translate}}</th>
                     <th>{{::'COMMON.ADDED' | translate}}</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-hide="!vacancy" dir-paginate="vacancy in vacancies | itemsPerPage: vacancy.size" total-items="total" current-page="pagination.current">
                     <td>{{$index+1}}</td>
                     <td><a ng-click="viewVacancy(vacancy)">{{vacancy.title}}</a></td>
                     <td>{{vacancy.entityStates[0].title}}</td>
                     <td class="col4">
                        <p ng-repeat="location in vacancy.locations">{{::location.title}}</p>
                     </td>
                     <td>{{vacancy.responsible.lastName}}</td>
                     <td>{{vacancy.createdOn}}</td>
                     <td>
                        <a ng-click="editVacancy(vacancy)"><i class="foundicon-edit general-icon"></i></a>
                        <a ng-click="deleteVacancy(vacancy.id)"><i class="foundicon-trash general-icon"></i></a>
                     </td>
                  </tr>
               </tbody>
            </table>
            <div class="switch-pages">
               <dir-pagination-controls max-size="5" boundary-links="true" [auto-hide="" ] on-page-change="pageChanged(newPageNumber)">
               </dir-pagination-controls>
            </div>
         </div>
      </div>
   </div>