<button ng-click="getVacancies()">GET VACANCIES</button>
<button ng-click="getVacancy(vacancyId)">GET VACANCY</button>
<input type="text" ng-model="vacancyId" placeholder="Id">
<div>Vacancies</div>
<table>
    <thead>
        <tr>
            <th>№</th>
            <th>Title</th>
            <th>Status</th>
            <th>Location</th>
            <th>Responsible</th>
            <th>Added</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="vacancy in vacancies">
            <td>{{vacancy.Id}}</td>
            <td>{{vacancy.Name}}</td>
            <td>{{vacancy.Status.Title}}</td>
            <td>{{vacancy.Location.City.Name}}</td>
            <td>{{vacancy.User.PersonalInfo.LastName}}</td>
            <td>{{vacancy.Location.EditTime}}</td>
            <td>
                <button ng-click="deleteVacancy(vacancy)">
                    Delete
                </button>
                <button ng-click="editVacancy(vacancy)">
                    Edit
                </button>
            </td>
        </tr>
    </tbody>
</table>