<div class="main-card">
   <div class="card-section">
      <div class="grid-block">
         <div class="medium-2 grid-block">
            <div class="tabs-container">
               <div class="tabs">
                  <div ng-repeat="(roleName, perms) in roles" class="tab-item" ng-click="selectRole(roleName)" ng-class="{'is-active': roleName === currentRoleName}">
                     <span ng-bind="::roleName"></span>
                     <a ng-if="roleName === currentRoleName" class="roles-close-button" ng-click="removeRole(roleName)">×</a>
                  </div>
                  <div class="tab-item" ng-class="{'is-active': roleName === currentRoleName}" ng-bind="::('ROLES.NEW'|translate)" zf-open="newRoleModal">
                  </div>
                  <div zf-modal="" id="newRoleModal">
                     <form name="roleForm">
                        <div class="role-header">
                           <div ng-bind="::('ROLES.NEW'|translate)"></div>
                           <a zf-close="" class="roles-close-button" ng-click="clearModalModel()">×</a>
                        </div>
                        <div class="role-body grid-block">
                           <div class="medium-10 grid-block">
                              <input type="text" ng-model="newRole.title" placeholder="{{::'ROLES.NAME' | translate}}" name="roleName" validator="required, title">
                           </div>
                           <div>
                              <a class="upload-button" ng-bind="::('COMMON.CREATE' | translate)" ng-click="createNewRole(roleForm)"></a>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <div class="medium-10 grid-block">
            <ul class="roles-tab">
               <li ng-repeat="(groupName, permissions) in permissions">
                  <h5 ng-bind="::groupName"></h5>
                  <div ng-repeat="permission in permissions">
                     <input type="checkbox" ng-model="currentRole[permission.name].flag" id="{{permission.id}}">
                     <label ng-bind="::permission.name" for="{{permission.id}}"></label>
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>