<div class="main-card">
   <div class="card-section">
      <div class="grid-block">
         <div class="medium-2 grid-block">
          
          <div class="tabs-container">
             <div class="tabs">
                <div ng-repeat="(roleName, perms) in roles" class="tab-item" 
                     ng-bind="::roleName" ng-click="selectRole(roleName)"
                     ng-class="{'is-active': roleName === currentRoleName}">
                </div>
             </div>
          </div>
         </div>
         <div class="medium-10 grid-block">
           <table class="roles-table">
               <thead>
                  <tr>
                     <th><input type="checkbox" ng-model="model" ng-change="setAll(model)"></th>
                     <th>Permission</th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="(permissionName, permission) in permissions">
                     <td>
                        <input type="checkbox" ng-model="currentRole[permissionName]">
                     </td>
                     <td>{{permission.description}}</td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
