@import "../../../common.scss";
.report-sidebar {
   min-width: inherit;
}
.report-data {
   border-collapse: collapse;
   font-size: $rem-base*0.8;
   div {
      font-size: $rem-base*0.8;
      min-height: $rem-base*2;
      border-bottom: 1px solid lighten($gray, 5);
      padding: $rem-base/4;
   }
}
.report-data-row {
   th, td {
      border: 1px solid lighten($gray, 5);
   }
   td {
      padding: 0;
      div:last-child {
         border-bottom: none;
      }
      td:first-child {
         padding: $rem-base/4;
      }
   }

}

