<button ng-click="getCandidates()">GET CANDIDATES</button>
<div>Candidates</div>
<table>
    <thead>
        <tr>
            <th>№</th>
            <th>First name</th>
            <th>Last Name</th>
            <th>Gender</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="candidate in candidates">
            <td>{{candidate.Id}}</td>
            <td>{{candidate.PersonalInfo.FirstName}}</td>
            <td>{{candidate.PersonalInfo.LastName}}</td>
            <td>{{candidate.PersonalInfo.Gender}}</td>
        </tr>
    </tbody>
</table>