<table class="report-cell" ng-if="type === 'only-locations'">
   <tr class="report-row">
      <td class="td-without-border" ng-bind="locationResult.{{vacancyState}}"></td>
   </tr>
</table>

<table class="report-cell" ng-if="type === 'only-users'">
   <tr class="report-row">
      <td class="td-without-border" ng-bind="userResult.{{vacancyState}}"></td>
   </tr>
</table>

<table class="report-cell" ng-if="type === 'locations-users' && report.length">
   <tr class="report-row">
      <td ng-bind="report[0].{{vacancyState}}"></td>
      <td class="sum-row" rowspan="{{report.length}}" ng-bind="locationResult.{{vacancyState}}">
      </td>
   </tr>
   <tr ng-repeat="rep in report | limitTo : report.length : report.length-(report.length-1)" class="report-row">
      <td ng-bind="rep.{{vacancyState}}"></td>
   </tr>
</table>

<table class="report-cell" ng-if="type === 'users'">
   <tr class="report-row" ng-repeat="user in users">
      <td class="user-name" ng-bind="::(user.lastName+' '+user.firstName)"></td>
   </tr>
</table>
