@import "../../common.scss";
.report-cell {
   margin: 0;
   tr:nth-child(2n) {
      background: none;
   }
}
.report-row {
   td {
     border-left: 0;
     border-top: 0;
     text-align: center;
     vertical-align: center;
   }
   .td-without-border {
     border-right: 0;  
   }
   .sum-row {
      border-right: 0; 
   }
   td:last-child {
      border-bottom: 0;
      text-align: center;
   }
   .user-name {
      text-align: left;
      border-right: 0;
      border-bottom: 1px solid lighten($gray, 5);
   }
   .user-name:last-child {
      border-bottom: 1px solid lighten($gray, 5);
      text-align: left;
   }
}