.input-date {
   height: $rem-base*2.4;
   width: 100% !important;
   margin-bottom: $rem-base;
   font-family: $body-font-family;
   padding: $rem-base/2;
   border: 1px solid #ccc;
   .ng-invalid {
      margin-bottom: $rem-base*0.2;
   }
}
.angularjs-datetime-picker {
   z-index: 10000;
   font-family: $body-font-family !important;
   position: absolute;
   .adp-month {
      font-family: $body-font-family;
      background-color: $primary-color;
   }
   input[type=range] {
      width: 100%;
   }
}