rzslider {
   margin-top: $rem-base*1.5;
   margin-bottom: 0;
   
   .rz-pointer {
      top: -$rem-base*0.4375;
      width: $rem-base;
      height: $rem-base;
      border-radius: 0;
      background-color: $primary-color;
   }
   
   .rz-pointer::after {
      content: none;
   }
   
   .rz-bar-wrapper {
      margin-top: -$rem-base*1.25;
   }
   
   .rz-bubble {
      font-size: $rem-base*0.9;
      color: $body-font-color;
   }
   
   .rz-bar.rz-selection {
      background-color: $secondary-color;
   }
}
