// Styles for secondary menu
.secondary-menu {
   display: flex;
   align-items: center;
   padding: 0 $global-padding/2;
   border: 1px solid $border-color;
   background-color: $body-background;
   min-height: $rem-base*2.75;
   max-height: $rem-base*2.75;
}
.second-button-bar {
   @include menu-bar-layout(
     $orientation: horizontal,
     $stretch: false);
      
   @include menu-bar-style(
      $background:  $body-background,
      $background-hover: $body-background,
      $background-active: $body-background,
      $color: $body-font-color,
      $color-hover: $body-font-color,
      $color-active: $body-font-color
   );
   
   @include menu-bar-align(
      $align: right
   );
   border-right: 1px solid $border-color;
   li {
      border-left: 1px solid $border-color;
   }
}

.second-button-bar :hover {
   box-shadow: inset 0px 0px 10px 0px transparentize($body-font-color, 0.9);
}
.secondary-menu-button {
   width: $rem-base*5;
}
