.sidebar {
   @include card-container();
   min-width:  $rem-base*14.06;
   width: 100%;
   margin: $rem-base*0.5;
   .file-upload {
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      table {
         font-size: $rem-base*0.8;
         margin-left: 0;
         margin-right: 0;
      }
      input {
         font-size: $rem-base*0.8;
      }
      i {
         font-size: $rem-base*0.8;
      } 
   } 
}

.vertical-sidebar {
   display: block;
}
.sidebar-content {
   @include card-section(
      $padding: 0 $global-padding
   );
   ul {
      padding: 0 $global-padding 0;
   }
   i {
      font-size: $rem-base*1.5;
      color: $primary-color;
   }
}

.vacancies {
   height: $rem-base*31.25;
}
.candidates {
   font-size: $rem-base*0.8;
}

.sidebar-col {
   padding-top: $rem-base/2;
}

.sidebar-row {
   height: $rem-base*2.5;
   font-size: $rem-base*0.8;
   input, select, textarea {
      font-size: $rem-base*0.8;
      height: $rem-base*1.8;
      padding-top: 0;
      padding-bottom: 0;
   }
   oi-select {
      .select-search {
         font-size: $rem-base*0.8;
         height: $rem-base*1.8;
         min-height: $rem-base*1.8;
      }
      .select-dropdown-optgroup {
         font-size: $rem-base*0.8;
      }
      .select-search-list-item_input {
         input {
            font-size: $rem-base*0.8;
         }
      }
     .select-search-list-item_input {
         margin: 0;
      } 
   }
   oi-select.focused .select-search {
      height: $rem-base*1.8;
      min-height: $rem-base*1.8;
   }
}

.vacancy-view {
   position: relative;
}
