@import "../../../common.scss";

.thesaurus {
   padding: $rem-base*0.35;
   min-height: $rem-base*10;
}

.thesaurus-select {
   width: $rem-base*15;
   oi-select {
      .select-dropdown {
         height: $rem-base*7.5;
      }
   }
}

div.thesaurus-label {
   margin-top: $rem-base*0.5;
   margin-bottom: $rem-base*0.5;
   font-weight: bold;
}
