@import './common';

$include-css: (
  global       : true,
  accordion    : true,
  action-sheet : true,
  block-list   : true,
  button       : true,
  button-group : true,
  card         : true,
  coloring     : true,
  extras       : true,
  forms        : true,
  grid         : true,
  iconic       : true,
  label        : true,
  badge        : true,
  list         : true,
  menu-bar     : true,
  modal        : true,
  motion       : true,
  notification : true,
  off-canvas   : true,
  panel        : true,
  popup        : true,
  switch       : true,
  tabs         : true,
  title-bar    : true,
  typography   : true,
  utilities    : true
);

@import "./foundation";

// Libraries (let's make Normalize an external dependency eventually)
@import
  "./bower_components/foundation-apps/scss/vendor/normalize";

@import './styles/table';
@import './styles/form';
@import './styles/secondary-menu';
@import './styles/sidebar';
@import './styles/text-editor';
@import './grid.scss';
@import './styles/multiple-select';
@import './styles/pagination';
@import './styles/modal';
@import './styles/range-slider';
body {
   background-color: $light-color;
   min-width: $rem-base*58.75;
   &.ng-scope {
       opacity: 1;
   }
}
.app-content {
   height: auto;
}

// Styles for icons
.social-icon {
   margin-right: $rem-base*0.625;
   &:before {
      font-family: "SocialFoundicons"
   }
}
.general-icon {
   margin-right: $rem-base*0.625;
   &:before {
      font-family: "GeneralFoundicons"
   }
}
.remove-item{
   color: $gray-dark;
}

// Styles for main content
.main-card {
   @include card-container();
   width: 99%;
   margin: $rem-base*0.5;
   height: auto;
   min-width: $rem-base*38;
   @include breakpoint(medium down) {
      width: 98%;
   }
}

.grid-block {
   overflow: inherit;
}

.modal {
   width: $rem-base*31.25 !important;
   height: auto !important;
   max-height: $rem-base*30 !important;
}
.upload-button{
   @include button(
      $size: medium,
      $expand: true
      );
   max-height: $rem-base*2.4;
}
.upload-input {
   height: $rem-base*2.4;
}
.image-container {
   margin-left: -$rem-base*19 !important;
   margin-top: $rem-base*1.875 !important;
}
.tabs {
   @include tabstrip(
      $orientation: vertical
   );
   @include tabstrip-item(
	$background: $body-background,
	$background-hover: $body-background,
	$background-active: $body-background,
	$color: $tab-title-color,
	$color-active: $tab-title-color-active,
	$padding: 0);
   width: 100%;
}
i.profile-icons {
   width: $rem-base*2;
}
.card-section {
}
.card-divider {
   padding-bottom: $rem-base/2;
}
.vacancy-profile {
   i {
      padding-right: $rem-base/2;
      font-size: $rem-base*2;
      color: $primary-color;
   }
   .tab-item {
      height: auto;
      padding-top: $rem-base/2;
      padding-bottom: $rem-base/2;
   }
   .tab-container {
      width: 100%;
   }
   table {
      margin-top: 0;
   }
}
.candidate-profile {
   i {
      padding-right: $rem-base/2;
      font-size: $rem-base*2;
      color: $primary-color;
   }
   .tab-item {
      height: auto;
      padding-top: $rem-base/2;
      padding-bottom: $rem-base/2;
   }
   .tab-container {
      width: 100%;
   }
   table {
      margin-top: 0;
      width: 99%;
   }
}

.property-title {
   font-weight: 600; 
}
.vacancy-description {
   text-align: left;
   padding-top: $rem-base/2;
   p {
      margin-bottom: 0;
   }
}

hr {
   margin-top: $rem-base/2;
   margin-bottom: $rem-base/2;
}

.content-wrapper {
   display: block;
   height: auto;
}
.loading-img {
   height: 291px;
   width: 491px;
}
.event-calendar {
   padding: $rem-base;
}
.user-filter {
   min-width: $rem-base;
}

.candidate-vacancy-info-container {
  min-height: 440px;
}
