@import "../Libs/foundation-apps/scss/foundation";

.menu-img{
   width: 55px;
}
.secondary-menu{
   background-color: #80deea;
}

table {
	margin:5px;
   padding:5px;
	width:100%;
	border:1px solid #ffffff;
}
.content{
   width: 100%;
   margin-top: 10px;
   margin-left: 7px;
   margin-right: 7px;
}
.sidebar{
 
}
.main-menu{
   background-color: $menubar-background;
   padding: $global-padding/2;
   justify-content: center;
}
.secondary-menu{
   padding: $global-padding/4;
   height: 3em;
}
.side-menu{
   @include grid-frame($orientation: vertical);
   @include menu-bar-layout( $orientation: vertical);
   background-color: $offcanvas-background;
}