@import "settings";
@import "foundation";

body {
   background-color: $light-color;
   min-width: 1200px;
}

// Styles for forms
form {
   width: 98%;
}
fieldset {
   width: 100%;
   border: 0;
}
textarea {
   resize: vertical;
   height: 2.4rem;
   min-height: 2.4rem;
}
.checkbox-block {
   margin-bottom: 10px;
}
.some-change {
   @include button-group(
     $segmented: true,
     $expand: true,
     $background: $primary-color,
     $color: $body-background
   );
   margin-bottom: 16px !important;
}
.range-slider {
   margin-bottom: 1rem;
}

// Styles for form validation forms
form p {
   line-height: 1;
}
.validation-invalid {
   color: $alert-color;
   margin: 0;
   font-size: 0.8rem;
}
form .ng-invalid {
   margin-bottom: 0.2rem;
   box-shadow: inset 0px 0px 3px 0px rgba(240,65,36,0.8);
}

// Styles for tables
table {
   margin: 5px;
   padding: 5px;
   width: 100%;
}
th {
   font-weight: normal;
   padding: 10px;
   text-align: left;
   background: lighten($gray-light, 2);
}
td {
   border-top: 1px solid lighten($gray, 5);
   padding: 10px;
}
tr:nth-child(2n) {
   background: lighten($gray-light, 2);
}
.content {
   width: 100%;
   margin-top: 10px;
   margin-left: 7px;
   margin-right: 7px;
}

// Styles for icons
.social-icon {
   margin-right: 10px;
   &:before {
      font-family: "SocialFoundicons"
   }
}
.general-icon {
   margin-right: 10px;
   &:before {
      font-family: "GeneralFoundicons"
   }
}

// Styles for main menu
.main-menu {
   background-color: $menubar-background;
   padding-left: $global-padding/2;
   padding-right: $global-padding/2;
   padding-bottom: 0;
   padding-top: 0;
   display: flex;
   align-items: center;
}
.main-button-bar {
   @include menu-bar-layout(
      $orientation: horizontal,
      $stretch: false
   );

   @include menu-bar-style(
      $background: $menubar-background,
      $background-hover: $menubar-background,
      $background-active: $menubar-background,
      $color: $body-background,
      $color-hover: $body-background,
      $color-active: $body-background
   );
   @include menu-bar-align($align: center);
}
.main-button-bar i {
   font-size: 0.6rem;
}
.main-button-bar :hover {
   box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.1);
}
.menu-img {
   width: 50px;
}
.search {
   margin-bottom: 0 !important;
}

// Styles for secondary menu
.secondary-menu {
   background-color: $secondary-color;
}
.second-button-bar {
   @include menu-bar-layout(
     $orientation: horizontal,
     $stretch: false
   );
   
   @include menu-bar-style(
      $background:  $body-background,
      $background-hover: $body-background,
      $background-active: $body-background,
      $color: $body-font-color,
      $color-hover: $body-font-color,
      $color-active: $body-font-color
   );
   
   @include menu-bar-align(
      $align: right
   );
   border-right: 1px solid $border-color;
}
.second-button-bar li {
   border-left: 1px solid $border-color;
}
.second-button-bar :hover {
   box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.1);
}
.secondary-menu {
   display: flex;
   align-items: center;
   padding-left: $global-padding/2;
   padding-right: $global-padding/2;
   padding-bottom: 0;
   padding-top: 0;
   border: 1px solid $border-color;
   background-color: $body-background;
}

// Styles for side menu
.side-menu {
   @include menu-bar-style(
      $background: $offcanvas-background,
      $background-hover: inherit,
      $background-active: $menubar-background-active,
      $color: $gray-dark,
      $color-hover: $body-background,
      $color-active: $body-background
   );
   @include grid-frame($orientation: vertical);
   @include menu-bar-icons($position: top);
   box-shadow: inset 0px 0px 13px 9px rgba(0,0,0,0.27);
}
.side-menu li {
   font-size: 0.7rem;
   border-bottom: 1px solid $dark-color;
   border-top: 1px solid lighten($dark-color, 8);
}
.side-menu li:nth-child(n+2):nth-child(-n+4):hover {
   border-left: 3px solid $primary-color;
}
.side-menu li:nth-child(n+5) a {
   color: $gray-dark;
}
.side-menu li:nth-child(n+5) a:hover {
   color: $gray-dark;
}
.side-menu > :first-child a:hover {
   transform: scale(1.5, 1.5);
}
.side-menu img {
   width: 30px;
}

// Styles for sidebar
.sidebar {
   @include card-container($margin: 0.5rem);
   max-height: 750px;
   width: 100%;
}
.sidebar-content {
   @include card-section(
      $padding: 0 $global-padding
   );
}
.sidebar-content i {
   font-size: 1.5rem;
   color: $primary-color;
}
.comments i {
   font-size: 1rem;
   color: $gray-dark;
}
.comments i:hover {
   color: $primary-color;
}
.events i {
   font-size: 2rem;
   color: $gray-dark;
}
.events i:hover {
   color: $primary-color;
}
.vacancies select {
   border: 0;
   background-color: $body-background;
   font-size: 0.7rem;
}
.sidebar-content ul {
   padding: $global-padding;
}

// Styles for main content
.main-card {
   @include card-container(
      $margin: 0.5rem
   );
   width: 100%;
   min-height: 600px;
   max-height: 900px;
}

// Styles for switching pages
.switch-pages {
   bottom: 0;
   right: 0;
   position: absolute;
   color: $offcanvas-background;
}
.pages i {
   color: $offcanvas-background;
}

//Styles for candidate/user
.profile-photo{
   background-image: url(images/upload-photo.png);
   background-repeat: no-repeat;
   background-size: 100%;
   width: 100%;
   height: 200px;
   margin-bottom: 1rem;
   padding-bottom: 30%;
   padding-top: 30%;
   text-align: center;
}
.profile-photo-input {
   width: 100%;
}
.upload-title {
   font-size: 2rem;
   color: lighten($dark-color, 7);
}
.button-with-input {
   height: 2.4rem;
   width: 100%;
}
