@import "settings";
@import "foundation";
@import "./styles/table";
@import "./styles/form";
@import "./styles/main-menu";
@import "./styles/secondary-menu";
@import "./styles/side-menu";
@import "./styles/sidebar";

body {
   background-color: $light-color;
   min-width: $rem-base*75;
}

// Styles for icons
.social-icon {
   margin-right: $rem-base*0.625;
   &:before {
      font-family: "SocialFoundicons"
   }
}
.general-icon {
   margin-right: $rem-base*0.625;
   &:before {
      font-family: "GeneralFoundicons"
   }
}

// Styles for main content
.main-card {
   @include card-container(
      $margin: $rem-base*0.5
   );
   width: 100%;
   min-height: $rem-base*37.5;
   max-height: $rem-base*56.25;
}

// Styles for switching pages
.switch-pages {
   bottom: 0;
   right: 0;
   position: absolute;
   color: $offcanvas-background;
}
.pages i {
   color: $offcanvas-background;
}

.grid-block {
   overflow: inherit;
}