<div class="errorMessage" ng-bind="message" ng-disabled="!message"></div>
<div>
   <div class="thesaurus-row">
    <div ng-class="field.type==='checkbox'||field.type==='number' ? 'thesaurus-column-header-small' : 'thesaurus-column-header-big'" ng-repeat="field in ::fields" ng-bind="::field.label"></div>
    <div class="thesaurus-column-header"></div>
    <div class="thesaurus-column-header"></div>
  </div>
   <div class="thesaurus-row" ng-repeat = "topic in topics | orderBy : orderField">
    <form name="topic.form">
      <div class="thesaurus-column" ng-repeat = "field in ::fields" >
         <input type="number" ng-if="field.type==='number'" class="thesaurus-number" 
                ng-disabled="!isEditTopic(topic)" ng-model="topic[field.name]">
         <input name="{{field.name}}" type="text" ng-disabled="!isEditTopic(topic)" 
                ng-if="field.type==='text'" placeholder="{{::field.name}}" 
                ng-model="topic[field.name]" class="edit" validator="{{field.validator}}">
         <select name="{{field.name}}" ng-disabled="!isEditTopic(topic)" ng-if="field.type==='select'" 
                 ng-model="topic[field.refObject]"
                 ng-options="option[field.labelRefFieldName] for option in additionThesaurusesStore[field.refTo] track by option.id"
                 ng-change="change(topic, field)" class="edit" validator="required"></select>          
         <div class="thesaurus-img" ng-if="field.type==='img'"><img ng-src="{{topic[field.name] | botUrl}}" ng-if="field.type==='img'" class="thesaurus-img"></div>
         <input type="file" nv-file-select="" uploader="uploader"
                ng-if="field.type==='img'&&isEditTopic(topic)" class="thesaurus-file-uploader">
         <input type="checkbox" ng-if="field.type==='checkbox'" class="thesaurus-checkbox" 
                ng-disabled="!isEditTopic(topic)" ng-model="topic[field.name]">         
      </div>
      <div class="action-column">
         <a href='#' class="button button-with-input" ng-if="!isEditTopic(topic)" 
            ng-click="editThesaurusTopic(topic)" ng-class="isTopicEditAllow(topic) ? '' : 'disabled'"
            ng-bind="'COMMON.EDIT' | translate">
          </a>
         <a href='#' class="button button-with-input" ng-if="isEditTopic(topic)" 
            ng-click="saveEditTopic(topic)" ng-bind="::'COMMON.SAVE' | translate">
          </a>
      </div >
      <div class="action-column">
         <a href='#' class="button button-with-input" ng-if="!isEditTopic(topic)" 
            ng-class="isTopicEditAllow(topic) ? '' : 'disabled'"
            ng-click="removeThesaurusTopic(topic)" 
            ng-bind="::'COMMON.REMOVE' | translate">
          </a>
         <a href='#' class="button button-with-input" ng-if="isEditTopic(topic)" 
            ng-click="cancelThesaurusTopicEditing(topic)" ng-bind="::'COMMON.CANCEL' | translate">
          </a>
      </div>
   </form>
   </div>
   <div class="thesaurus-row">
      <form name="newThesaurusTopic.form">
      <div class="thesaurus-column" ng-repeat = "field in ::fields" >
          <input type="number" ng-if="field.type==='number'" class="thesaurus-number" 
                ng-disabled="!isTopicEditAllow(newThesaurusTopic)" ng-model="newThesaurusTopic[field.name]">
          <input name="{{field.name}}" type="text" placeholder="{{::field.name}}" 
                ng-model="newThesaurusTopic[field.name]"
                ng-if="::field.type=='text'" ng-disabled="!isTopicEditAllow(newThesaurusTopic)">
          <select ng-if="field.type==='select'" name="{{field.name}}"
                 ng-model="newThesaurusTopic[field.refObject]"
                 ng-options="option[field.labelRefFieldName] for option in additionThesaurusesStore[field.refTo] track by option.id"
                 ng-change="change(newThesaurusTopic, field)"></select>
          <input type="file" nv-file-select="" uploader="uploader" 
                 ng-if="field.type==='img'" class="new-topic-uploader thesaurus-file-uploader">
          <input type="checkbox" ng-if="field.type==='checkbox'" class="thesaurus-checkbox" 
                 ng-disabled="!isTopicEditAllow(newThesaurusTopic)" ng-model="newThesaurusTopic[field.name]"
                 ng-init="newThesaurusTopic[field.name] = false">
      </div>
      <div class="action-column" class="add">
         <a class="button button-with-input" ng-click="addNewTopic(newThesaurusTopic)" 
            ng-class="isTopicEditAllow(newThesaurusTopic) ? '' : 'disabled'" ng-bind="::'COMMON.ADD' | translate">
          </a>
      </div>
      <div class="column"></div>
      </form>
   </div>
</div>
