<div ng-show="errorMessage">{{errorMessage}}</div>
<!-- <div class="grid-block">
    <button ng-click="getCandidates()">GET CANDIDATES</button>
    <button ng-click="getCandidate(candidateId)">GET CANDIDATE</button>
    <input type="text" ng-model="candidateId" placeholder="Id">
</div>-->
<div class="secondary-menu grid-block">
   <div class="large-2 grid-block">
      <div class="grid-content">
         <h5>Base of candidates</h5>
      </div>
   </div>
   <div class="large-7 grid-block">
   </div>
   <div class="large-3 grid-block align-right">
      <ul class="menu-bar second-button-bar align-right">
         <li><a href="#">Cancel</a>
         </li>
         <li><a href="#">Add and back</a>
         </li>
      </ul>
   </div>
</div>
<div class="grid-block">
   <div class="medium-3 grid-block">
      <div class="sidebar">
         <div class="card-divider">
            Search Candidates
         </div>
         <div class="card-section">
            <div class="grid-block checkbox-block">
               <div class="large-6 grid-content">
                  <input id="checkbox1" type="checkbox">
                  <label for="checkbox1">All</label>
                  <br/>
                  <input id="checkbox2" type="checkbox">
                  <label for="checkbox2">Vk</label>
                  <br/>
                  <input id="checkbox3" type="checkbox">
                  <label for="checkbox3">Rabota</label>
                  <br/>
                  <input id="checkbox4" type="checkbox">
                  <label for="checkbox4">Djinni</label>
               </div>
               <div class="large-6 grid-content">
                  <input id="checkbox5" type="checkbox">
                  <label for="checkbox5">BOT</label>
                  <br/>
                  <input id="checkbox6" type="checkbox">
                  <label for="checkbox6">LinledIn</label>
                  <br/>
                  <input id="checkbox7" type="checkbox">
                  <label for="checkbox7">Work</label>
                  <br/>
                  <input id="checkbox8" type="checkbox">
                  <label for="checkbox8">Hh</label>
               </div>
            </div>
            <input placeholder="Technology or position" type="text">
            <input placeholder="Full name" type="text">
            <select name="Location" id="">
               <option value="">Dnipropetrovsk</option>
               <option value="">Zaporizhzhia</option>
               <option value="">Lviv</option>
               <option value="">Berdyansk</option>
            </select>
            <select name="Industry" id="">
               <option value="">IT</option>
               <option value="">Others</option>
            </select>
            <ul class="some-change">
               <li>
                  <input name="isMale" value="true" id="male" checked="" type="radio">
                  <label for="male">Male</label>
               </li>
               <li>
                  <input name="isMale" value="false" id="female" type="radio">
                  <label for="female">Female</label>
               </li>
            </ul>
            <div class="range-slider">
               <span>Candidate's age:</span>
               <output name="amount" id="age" for="rangeInput">15</output>
               <input type="range" id="rangeInput" name="rangeInput" min="15" max="65" value="15" oninput="age.value=rangeInput.value">
            </div>
            <input placeholder="Experience" type="text">
            <input placeholder="Salary" type="text">
            <select name="Langage" id="">
               <option value="">English Beginner</option>
               <option value="">English Pre-Intermediate</option>
               <option value="">English Intermediate</option>
               <option value="">English Upper Intermediate</option>
               <option value="">English Advanced</option>
               <option value="">English Fluent</option>
            </select>
            <a class="expand button" ng-click="getCandidates()">Search</a>
         </div>
      </div>
   </div>
   <div class="medium-9 grid-block">
      <div class="main-card">
         <div class="card-divider">
            Candidates
         </div>
         <div class="card-section">
            <table>
               <thead>
                  <tr>
                     <th>
                        <input id="checkbox9" type="checkbox">
                     </th>
                     <th>№</th>
                     <th>Full name</th>
                     <th>Industru</th>
                     <th>Source</th>
                     <th>Position</th>
                     <th>Salary</th>
                     <th>Stage</th>
                     <th>Added</th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="candidate in candidates">
                     <th>
                        <input id="checkbox9" type="checkbox">
                     </th>
                     <td>{{$index+1}}</td>
                     <td>{{candidate.LastName}} {{candidate.FirstName}}{{candidate.MiddleName}}</td>
                     <td>{{candidate.Industry}}</td>
                     <td>{{candidate.Source}}</td>
                     <td>{{candidate.PositionDesired}}</td>
                     <td>{{candidate.SalaryDesired}}</td>
                     <td>{{candidate.VacanciesProgress[0].StageInfos[0].Stage.Title}}</td>
                     <td>{{candidate.EditTime}}</td>
                     <td>
                        <a ng-click="deleteCandidate(candidate)"><i class="foundicon-tools general-icon"></i>
                        </a>
                        <a ng-click="editCandidate(candidate)"><i class="foundicon-edit general-icon"></i>
                        </a>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
         <div class="card-section switch-pages">
            <ul class="menu-bar second-button-bar">
               <li><a href="#"><i class="foundicon-left-arrow general-icon"></i></a>
               </li>
               <li><a href="#">1</a></li>
               <li><a href="#">2</a></li>
               <li><a href="#">3</a></li>
               <li><a href="#">4</a></li>
               <li><a href="#">5</a></li>
               <li><a href="#"><i class="foundicon-right-arrow general-icon"></i></a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>