@import './../../common.scss';

.candidates-list {
   tr {
      th, td {
         text-align: left;
      }
      .candidate-name {
         width: 20%;
      }
      .candidate-position {
         width: 30%;
      }
   }
   
}

input[type="tel"].salary-input {
   height: $rem-base*2.05;
}