<div ui-view></div>
   <div class="secondary-menu grid-block">
      <div class="large-2 grid-block">
         <div class="grid-content">
            <h5 ng-bind="::'CANDIDATES.BASE_OF_CANDIDATES' | translate"></h5>
         </div>
      </div>
      <div class="large-7 grid-block">
      </div>
      <div class="large-3 grid-block align-right">
         <ul class="menu-bar second-button-bar align-right">
            <li>
               <a ng-click="cancel()" ng-bind="::'COMMON.CANCEL' | translate"></a>
            </li>
            <li>
               <a ng-if="vacancyIdToGoBack" ng-click="goBackToVacancy()" ng-bind="::'COMMON.ADD_AND_BACK' | translate"></a>
            </li>
         </ul>
      </div>
   </div>
   <div class="grid-block">
      <div class="medium-3 grid-block">
         <div class="sidebar">
            <div class="card-divider" ng-bind="::'CANDIDATES.SEARCH_CANDIDATES' | translate">
            </div>
            <div class="card-section">
               <div class="grid-block checkbox-block">
                  <div class="large-6 grid-content source-col">
                     <input id="all" type="checkbox">
                     <label for="all" ng-bind="::'CANDIDATES.ALL' | translate"></label>
                     <br/>
                     <input id="vk" type="checkbox">
                     <label for="vk" ng-bind="::'CANDIDATES.VK' | translate"></label>
                     <br/>
                     <input id="rabota" type="checkbox">
                     <label for="rabota" ng-bind="::'CANDIDATES.RABOTA' | translate"></label>
                     <br/>
                     <input id="djinni" type="checkbox">
                     <label for="djinni" ng-bind="::'CANDIDATES.DJINNI' | translate"></label>
                  </div>
                  <div class="large-6 grid-content source-col">
                     <input id="bot" type="checkbox">
                     <label for="bot" ng-bind="::'CANDIDATES.BOT' | translate"></label>
                     <br/>
                     <input id="linledIn" type="checkbox">
                     <label for="linledIn" ng-bind="::'CANDIDATES.LINKEDIN' | translate"></label>
                     <br/>
                     <input id="work" type="checkbox">
                     <label for="work" ng-bind="::'CANDIDATES.WORK' | translate"></label>
                     <br/>
                     <input id="hr" type="checkbox">
                     <label for="hr" ng-bind="::'CANDIDATES.HR' | translate"></label>
                  </div>
               </div>
               <input ng-model="candidate.technology" placeholder="{{::'CANDIDATES.TECHNOLOGY' | translate}}" type="text">
               <input ng-model="candidate.position" placeholder="{{::'CANDIDATE.POSITION' | translate}}" type="text">
               <input ng-model="candidate.firstName" placeholder="{{::'COMMON.FIRST' | translate}}" type="text">
               <input ng-model="candidate.lastName" placeholder="{{::'COMMON.LAST' | translate}}" type="text">
               <oi-select class="multiple-select" oi-options="city.id as city.title for city in thesaurus.city" ng-model="candidate.citiesIds" multiple placeholder="{{::'COMMON.LOCATION' | translate}}"></oi-select>
               <select name="Industry" ng-model="candidate.industryId">
                  <option selected value="" ng-bind="::'COMMON.INDUSTRY' | translate"></option>
                  <option ng-repeat="industry in thesaurus.industry" value="{{industry.id}}" ng-bind="::industry.title"></option>
               </select>
               <ul class="some-change">
                  <li>
                     <input ng-model="candidate.isMale" name="isMale" ng-value="true" id="male" type="radio">
                     <label for="male" ng-bind="::'COMMON.MALE' | translate"></label>
                  </li>
                  <li>
                     <input ng-model="candidate.isMale" name="isMale" ng-value="false" id="female" type="radio">
                     <label for="female" ng-bind="::'COMMON.FEMALE' | translate"></label>
                  </li>
               </ul>
               <div class="range-slider">
                  <label ng-bind="::'CANDIDATE.CANDIDATE_AGE' | translate"></label>
                  <rzslider rz-slider-model="slider.min" rz-slider-high="slider.max" rz-slider-options="slider.options"></rzslider>
               </div>
               <label ng-bind="::'CANDIDATE.EXPERIENCE' | translate"></label>
               <div class="grid-block">
                  <div class="medium-6 grid-block">
                     <input placeholder="{{::'COMMON.YEARS' | translate}}" ng-model="candidate.experienceYears" type="number" min="0" step="1">
                  </div>
                  <div class="medium-6 grid-block">
                     <input placeholder="{{::'COMMON.MONTHS' | translate}}" ng-model="candidate.experienceMonths" type="number" min="0" step="1">
                  </div>
               </div>
               <div class="grid-block">
                  <div class="medium-5 grid-block">
                     <input ng-model="candidate.minSalary" placeholder="{{::'COMMON.SALARY_MIN' | translate}}" type="number" min="0" step="50">
                  </div>
                  <div class="medium-5 grid-block">
                     <input ng-model="candidate.maxSalary" placeholder="{{::'COMMON.SALARY_MAX' | translate}}" type="number" min="0" step="50">
                  </div>
                  <div class="medium-2 grid-block">
                     <select name="Сurrency">
                        <option value="">&#8372;</option>
                        <option value="">&#8364;</option>
                        <option value="">$</option>
                     </select>
                  </div>
               </div>
               <language-skills selected-skills="candidate.convertedLanguageSkills"></language-skills>
               <a class="expand button" ng-click="searchCandidates()">{{::'INDEX.SEARCH' | translate}}</a>
            </div>
         </div>
      </div>
      <div class="medium-9 grid-block">
         <div class="main-card">
            <div ng-bind="::'CANDIDATES.CANDIDATES' | translate" class="card-divider">
            </div>
            <div class="card-section">
               <table>
                  <thead>
                     <tr>
                        <th>
                           <input id="candidate" type="checkbox">
                        </th>
                        <th ng-bind="::'CANDIDATE.FULL_NAME' | translate"></th>
                        <th ng-bind="::'COMMON.INDUSTRY' | translate"></th>
                        <th ng-bind="::'CANDIDATE.SOURCE' | translate"></th>
                        <th ng-bind="::'CANDIDATE.POSITION' | translate"></th>
                        <th ng-bind="::'COMMON.SALARY' | translate"></th>
                        <th ng-bind="::'COMMON.ADDED' | translate"></th>
                        <th></th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr dir-paginate="c in candidates.candidate | itemsPerPage: candidates.size" total-items="candidates.total" current-page="candidate.current">
                          <th>
                           <input id="checkbox9" type="checkbox" ng-model="c.isToogled" ng-change="toogleCandidate(c.id)">
                        </th>
                        <td>
                           <a ng-click="viewCandidate(c)" ng-bind="::(c.lastName+' '+c.firstName)"></a>
                        </td>
                        <td ng-bind="c.industry.title"></td>
                        <td ng-bind="c.mainSource.title"></td>
                        <td ng-bind="::c.positionDesired"></td>
                        <td ng-bind="(c.salaryDesired+' '+c.currency.title)"></td>
                        <td ng-bind="::c.createdOn"></td>
                        <td>
                           <a ng-click="deleteCandidate(c.id)"><i class="foundicon-trash general-icon"></i>
                        </a>
                           <a ng-click="editCandidate(c)"><i class="foundicon-edit general-icon"></i>
                        </a>
                        </td>
                     </tr>
                  </tbody>
               </table>
               <div class="switch-pages">
                  <dir-pagination-controls max-size="5" boundary-links="true" [auto-hide="" ] on-page-change="pageChanged(newPageNumber)">
                  </dir-pagination-controls>
               </div>
            </div>
         </div>
      </div>
   </div>
