<div class="card-divider candidate-title">
   <h4 ng-bind="(candidate.firstName+' '+candidate.lastName)"></h4>
</div>
<div class="card-section candidate-info">
   <div class="grid-block">
      <div class="vertical small-4 grid-block">
         <div>
            <i class="fi-calendar"></i><span class="property-title" ng-bind="::'COMMON.BIRTH' | translate">:</span>
            <span ng-if="candidate.birthDate" ng-bind="::candidate.birthDate"></span>
         </div>
         <div>
            <i class="fi-results-demographics"></i><span class="property-title" ng-bind="::'COMMON.INDUSTRY' | translate">:</span>
            <span ng-bind="::candidate.industry.title"></span>
         </div>
         <div>
            <i class="fi-flag"></i><span class="property-title" ng-bind="::'COMMON.LANGUAGE' | translate">: </span>
            <span ng-repeat="convertedLanguageSkill in candidate.convertedLanguageSkills" ng-bind="(convertedLanguageSkill.language.title+' '+convertedLanguageSkill.languageLevel.title)"></span>
         </div>
         <div>
            <i class="fi-marker"></i>
            <span class="property-title" ng-bind="::'COMMON.LOCATION' | translate"></span>
            <span ng-bind="::candidate.city.title"></span>
         </div>
         <div ng-show="candidate.relocationAgreement">
            <i class="fi-checkbox"></i>
            <span class="property-title" ng-bind="::'CANDIDATE.READY_TO_RELOCATE' | translate">: </span>
            <span ng-repeat="place in candidate.convertedRelocationPlaces" ng-bind="::(place.city.title)"></span>
         </div>
      </div>
      <div class="vertical small-4 grid-block">
         <div>
            <i class="fi-clock"></i><span class="property-title" ng-bind="::'COMMON.TYPE_OF_EMPLOYMENT' | translate">:</span>
            <span ng-bind="::candidate.typeOfEmploymentObject.title"></span>
         </div>
         <div>
            <i class="fi-target"></i><span class="property-title" ng-bind="::'CANDIDATE.DESIRED_POSITION' | translate">:</span>
            <span ng-bind="::candidate.positionDesired"></span>
         </div>
         <div>
            <i class="fi-dollar-bill"></i><span class="property-title" ng-bind="::'CANDIDATE.DESIRED_SALARY' | translate">:</span>
            <span ng-bind="::(candidate.salaryDesired+' '+candidate.currency.title)"></span>
         </div>
         <div>
            <i class="fi-mountains"></i><span class="property-title" ng-bind="::'CANDIDATE.EXPERIENCE' | translate">:</span>
            <span ng-bind="::candidate.experienceYears"></span>
            <span ng-if="candidate.experienceYears" ng-bind="::'COMMON.YEARS' | translate"></span>
            <span ng-bind="candidate.experienceMonths ? candidate.experienceMonths : 0 "></span>
            <span ng-if="candidate.experienceYears" ng-bind="::'COMMON.MONTHS' | translate"></span>
         </div>
      </div>
      <div class="vertical small-4 grid-block candidate-contacts">
         <contacts class="profile-contacts" entity="candidate" direction="rtl"></contacts>
      </div>
   </div>
   <hr>
   <div class="grid-block">
      <div class="vertical small-6 grid-block">
         <div class="property-title" ng-bind="::'COMMON.SKILLS' | translate"></div>
         <div class="tag" ng-repeat="skill in candidate.skilLs" ng-bind="::skill.title"></div>
      </div>
      <div class="vertical small-6 grid-block">
         <div class="property-title" ng-bind="::'COMMON.TAGS' | translate"></div>
         <div class="tag" ng-repeat="tag in candidate.tags" ng-bind="::tag.title"></div>
      </div>
   </div>
</div>