@import './../../common.scss';
.candidate-title {
   padding-bottom: 0;
}
.candidate-info {
   padding-top: 0;
}
.tag {
   padding: $rem-base/4 $rem-base $rem-base/4 0;
}
.candidate-contacts {
   contacts {
      width: 100%;
   }
}

span.icon-text {
   vertical-align: super;
}

i.fi-calendar:before, i.fi-results-demographics:before, i.fi-flag:before, i.fi-marker:before, i.fi-checkbox:before,
   i.fi-clock:before, i.fi-target:before, i.fi-dollar-bill:before, i.fi-mountains:before {
      width: 25px;
      text-align: center;
}