@import './../../common.scss';
.comments {
   font-size: $rem-base*0.8;
   .comment-title {
      font-weight: 600;
   }
   i {
      font-size: $rem-base;
      @include breakpoint(medium only) { 
         font-size: $rem-base;
      }
      @include breakpoint(small only) { 
         font-size: $rem-base;
      }
      color: $gray-dark;
   }
   i:hover {
      color: $primary-color;
   }
   .is-removed {
      color: $gray;
   }
}
textarea {
   margin-bottom: $rem-base;
}
