<div class="card-divider" ng-bind="::typeWrap">
</div>
<div class="sidebar-content">
   <div class="grid-block">
      <div class="medium-9 grid-block">
         <form name="form.comments">
            <textarea ng-model="currentComment.message" name="commentsTextArea" validator="required"></textarea>
         </form>
      </div>

      <div class="medium-3 grid-block">
         <a class="button button-with-input" ng-click="addComment()">
            <span ng-bind="::'COMMON.ADD' | translate"></span>
         </a>
      </div>
   </div>
   <section class="block-list">
      <ul class="comments">
         <li ng-repeat="comment in comments" ng-class="{'is-removed': comment.isForRemoved === true}">
            <div class="grid-block">
               <div class="vertical medium-10 grid-block">
                  <div class="grid-block">
                     <div class="small-5 grid-block comment-title" ng-bind="::'COMMON.CREATED_ON' | translate"></div>
                     <div class="small-7 grid-block" ng-bind="comment.createdOn"></div>
                  </div>
                  <div ng-if="type === 'comment'" class="grid-block">
                     <div class="small-5 grid-block comment-title" ng-bind="::'COMMON.AUTHOR' | translate"></div>
                     <div class="small-7 grid-block" ng-bind="::(comment.responsible.lastName+' '+comment.responsible.firstName)"></div>
                  </div>
                  <div ng-bind="comment.message"></div>
               </div>
               <div class="medium-1 grid-block">
                  <a ng-click="editComment(comment)"><i class="foundicon-edit general-icon"></i></a>
               </div>
               <div class="medium-1 grid-block">
                  <a ng-click="removeComment(comment)"><i class="foundicon-trash general-icon"></i></a>
               </div>
            </div>
         </li>
      </ul>
   </section>
</div>