<form name = "Candidate">
<div ng-show="errorMessage">{{errorMessage}}</div>
<div>Add new Candidate</div>
<div>
    <input type="text" ng-model="candidate.FirstName" placeholder="First Name" name ="firstName" validator="required, maxlength=50">
    <input type="text" ng-model="candidate.MiddleName" placeholder="Middle Name" name ="middleName" validator="required, maxlength=50">
    <input type="text" ng-model="candidate.LastName" placeholder="Last Name" name ="lastName" validator="required, maxlength=50">
    <input type="text" ng-model="candidate.Industry" placeholder="Industry">
    <input type="text" ng-model="candidate.PositionDesired" placeholder="Position Desired" name ="positionDesired" validator = "minlength=3, maxlength=100">
    <input type="text" ng-model="candidate.SalaryDesired" placeholder="Salary Desired" name= "selaryDEsired" validator = "number">
    <button ng-click="submit(Candidate)">ADD</button>
</div>
<div>Candidate</div>
<p>{{candidate.Id}}</p>
<p>{{candidate.FirstName}}</p>
<p>{{candidate.MiddleName}}</p>
<p>{{candidate.LastName}}</p>
<p>{{candidate.Industry}}</p>
<p>{{candidate.PositionDesired}}</p>
<p>{{candidate.SalaryDesired}}</p>
</form>