@import '../../common.scss';

.profile-photo-container {
   padding: 0px;
   max-height: $rem-base*9.375;
   max-width: $rem-base*6.25;
   margin-bottom: $rem-base;
}

input.social-input[type="url"] {
   margin: 0px;
}

.candidate-oi-select {
   margin-bottom: $rem-base;
}

.technologies-select {
   padding-right: $rem-base;
}

@mixin overrided-button() {
    @include button ( $background: #fff, $color: #0097a7, $background-hover: rgba(0, 151, 167, 0.25));
    border: solid 1px $primary-color;
    :hover {
        color: #03899C;
    }
}
.overrided-button {
    @include overrided-button();
}
.key-word {
    font-weight: 700;
}

img.candidate-photo {
   margin-bottom: 0;
}

.coming-soon-text {
   padding: $rem-base;
   font-size: $rem-base;
}
