@import "../../common.scss";

.datepicker-input {
   font-family: $body-font-family;
}
._720kb-datepicker-calendar-header:nth-child(odd){
   background-color: $primary-color !important;
   font-family: $body-font-family !important;
}
._720kb-datepicker-calendar{
   position: absolute !important;
   border-radius: 0 !important;
   font-family: $body-font-family !important;
   margin-top: -$rem-base*1.10 !important;
   width: 100% !important;
   margin-left: 0 !important;
   font-family: $body-font-family !important;
}
._720kb-datepicker-calendar-days-header{
   font-family: $body-font-family !important;
   display: flex;
   justify-content: space-around;
}
._720kb-datepicker-calendar-body{
   font-family: $body-font-family !important;
}
._720kb-datepicker-open {
   right: 0 !important;
}