<div>
   <input type="text" ng-model="newUser.login" placeholder="{{::'MEMBERS.LOGIN' | translate}}" name="Login" validator="required, title">
   <input type="text" ng-model="newUser.firstName" placeholder="{{::'COMMON.FIRST' | translate}}" name="firstName" validator="required, maxlength=50, letters">
   <input type="text" ng-model="newUser.lastName" placeholder="{{::'COMMON.LAST' | translate}}" name="lastName" validator="required, maxlength=50, letters">
   <input type="text" ng-model="newUser.email" placeholder="{{::'COMMON.EMAIL' | translate}}" name="Email" validator="required, email">
   
   <oi-select name="mailTemplateSelector" validator="required" ng-model="newUser.mailId" oi-options="mailTemplate.id as mailTemplate.subject for mailTemplate in mailTemplates.mail"></oi-select>
</div>
