<div class="main-card">
   <div class="card-section">
      <div class="grid-block">
         <zf-accordion class="medium-12">
            <zf-accordion-item title="Input your title here">
               Content goes here
            </zf-accordion-item>
            <zf-accordion-item title="Input your title here">
               Content goes here
            </zf-accordion-item>
            <zf-accordion-item title="Input your title here">
               Content goes here
            </zf-accordion-item>
         </zf-accordion>
      </div>
   </div>
</div>