<input type="password" ng-model="passwords.oldPass" placeholder="{{::'PROFILE.OLD' | translate}}" name="oldPass" id="oldPass" validator="required, title">
<input type="password" ng-model="passwords.newPass" placeholder="{{::'PROFILE.NEW' | translate}}" name="newPass"
id="newPass" validator="required, minlength=8, maxlength=50">
<input type="password" ng-model="passwords.confPass" placeholder="{{::'PROFILE.CONF' | translate}}" name="confPass" id="confPass" validator="required, minlength=8, maxlength=50, compare" compare-with={{passwords.newPass}}>