<div class="main-card">
   <div class="card-section">
      <div class="grid-block">
         <div class="medium-3 grid-block">
            <div zf-open="basicModal" class="profile-photo" title="Upload Photo">
               <span class="upload-title">Upload Photo</span>
            </div>
         </div>
         <div class="vertical medium-9 grid-block">
            <div class="grid-block">
               <h3>{{user.FirstName+" "+user.LastName+" ["+user.Login+"]"}}</h3>
            </div>
            <div class="grid-block">
               <div class="medium-4 grid-block">
                  <p>User Contact info</p>
               </div>
               <div class="medium-4">
                  <p>{{user.Location}}</p>
                  <p>{{user.Role}}</p>
                  <p>{{age()}}</p>
               </div>
               <div class="medium-4">
                  <a class="button"></a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div ui-view></div>
</div>
