<div>
   <form name="form.userEdit">
      <div class="grid-block">
         <div class="medium-3 grid-block">
            <fieldset>
               <input type="text" ng-model="user.lastName" placeholder="{{::'COMMON.LAST' | translate}}" name="lastName" validator="required, maxlength=50">
               <input type="text" ng-model="user.firstName" placeholder="{{::'COMMON.FIRST' | translate}}" name="firstName" validator="required, maxlength=50">
               <input type="text" ng-model="user.middleName" placeholder="{{::'COMMON.MIDDLE' | translate}}" name="middleName" validator="required, maxlength=50">
            </fieldset>
         </div>
         <div class="medium-3 grid-block">
            <fieldset>
               <ul class="some-change">
                  <li>
                     <input ng-model="user.isMale" value="true" type="radio" id="male">
                     <label for="male">{{::'COMMON.MALE' | translate}}</label>
                  </li>
                  <li>
                     <input ng-model="user.isMale" value="false" type="radio" id="female">
                     <label for="female">{{::'COMMON.FEMALE' | translate}}</label>
                  </li>
               </ul>
               <input type="text" ng-model="user.location" placeholder="{{::'COMMON.CITY' | translate}}" name="Location" validator="title">
               <date datemodel="user.birthDate" placeholder="{{::'COMMON.BIRTH' | translate}}"></date>
            </fieldset>
         </div>
         <div class="medium-3 grid-block">
            <fieldset>
               <input type="text" ng-model="user.email" placeholder="{{::'COMMON.EMAIL' | translate}}" name="Email" validator="required, email">
               <input type="text" ng-model="user.skype" placeholder="{{::'COMMON.SKYPE' | translate}}" name="Skype" validator="minlength=6, maxlength=32">
               <input type="password" ng-model="user.password" placeholder="{{::'SETTINGS.PASS' | translate}}" name="Password" validator="required, minlength=6, maxlength=50">
            </fieldset>
         </div>
         <div class="medium-3 grid-block">
            <fieldset>
               <div class="grid-block">
                  <div class="medium-12">
                     <div ng-repeat="number in user.phoneNumbers">
                        <input type="text" ng-model="number" ng-model-options="{ updateOn: 'blur' }" placeholder="{{::'COMMON.PHONE' | translate}}" ui-mask="+9?9?9(99)999-99-99" ui-mask-placeholder ui-mask-placeholder-char="_" onfocus="this.value = this.value || 380" ng-change="updatePhoneNumbers(number, $index)">
                     </div>
                  </div>
                  <a ng-hide="cantAddNewPhone()" ng-click="addNewPhone()"><i class="fi-plus"></i></a>
               </div>
            </fieldset>
         </div>
      </div>
   </form>
</div>