<div ng-class="($state.current.data.asEdit) ? 'main-card' : 'userProfile'">
   <div class="card-section">
      <div class="grid-block">
         <div class="medium-3 grid-block">
            <div zf-open="basicModal" class="profile-photo" title="Upload Photo">
               <span class="upload-title">Upload Photo</span>
            </div>
            <div class="uploader-photo" zf-modal="" id="basicModal">
               <div class="grid-block">
                  <div class="medium-8 grid-block">
                     <input class="upload-input" type="file" nv-file-select="" uploader="uploader">
                     <div class="grid-block image-container">
                        <div class="medium-4 grid-block">
                           <div class="" ng-repeat="item in uploader.queue">
                              <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                           </div>
                        </div>
                        <div class="medium-8 grid-block">
                           <a ng-hide="!uploader.queue.length" class="remove-item" ng-click="uploader.clearQueue()"><i class="foundicon-remove general-icon"></i></a>
                        </div>
                     </div>
                  </div>
                  <div class="medium-4 grid-block">
                     <a class="upload-button" href="#">{{::'COMMON.UPLOAD' | translate}}</a>
                  </div>
               </div>
            </div>
         </div>
         <div class="vertical medium-9 grid-block">
            <div class="grid-block">
               <h3>{{user.firstName+" "+user.lastName+" ["+user.login+"]"}}</h3>
            </div>
            <div class="grid-block">
               <div class="medium-4 grid-block">
                  <contacts phone="user.phoneNumber" skype="user.skype" email=u ser.email></contacts>
               </div>
               <div class="medium-4">
                  <p>{{user.location}}</p>
                  <p>{{user.role}}</p>
                  <p>{{age()}}</p>
               </div>
               <div class="medium-4">
                  <a class="button change-pass">Change password</a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <hr/>
   <div ui-view></div>
</div>