<div>
   <form name="form.userEdit">
      <div class="grid-block">
         <div class="medium-3 grid-block">
            <fieldset>
            </fieldset>
         </div>
         <div class="medium-3 grid-block">
            <fieldset>
               <ul class="some-change">
                  <li>
                     <label for="male">{{::'COMMON.MALE' | translate}}</label>
                  </li>
                  <li>
                     <label for="female">{{::'COMMON.FEMALE' | translate}}</label>
                  </li>
               </ul>
            </fieldset>
         </div>
         <div class="medium-3 grid-block">
            <fieldset>
            </fieldset>
         </div>
         <div class="medium-3 grid-block">
            <fieldset>
               <input type="password" ng-model="user.Password" placeholder="{{::'SETTINGS.PASS' | translate}}" name="Password" validator="required, minlength=6, maxlength=50">
               <input type="password" ng-model="NewPasswor" placeholder="{{::'SETTINGS.NEW_PASS' | translate}}">
               <input type="password" ng-model="ConfirmPassword" placeholder="{{::'SETTINGS.CONFIRM_PASS' | translate}}">
            </fieldset>
         </div>
      </div>
   </form>
</div>