<div>
      <form name="form.userEdit">
         <div class="grid-block">
            <div class="medium-3 grid-block">
               <fieldset>
                  <input type = "text" ng-model="user.LastName" placeholder="{{::'COMMON.LAST' | translate}}"
                  name = "LastName" validator="required, maxlength=50">
                  <input type = "text" ng-model="user.FirstName" placeholder="{{::'COMMON.FIRST' | translate}}" 
                  name = "FirstName" validator="required, maxlength=50">
                  <input type = "text" ng-model="user.MiddleName" placeholder="{{::'COMMON.MIDDLE' | translate}}" name = "MiddleName" validator="required, maxlength=50">
               </fieldset>
            </div>
            <div class="medium-3 grid-block">
               <fieldset>
                  <ul class="some-change">
                     <li>
                        <input ng-model="user.IsMale" value="true" type="radio" id="male">
                        <label for="male">{{::'COMMON.MALE' | translate}}</label>
                     </li>
                     <li>
                        <input ng-model="user.IsMale" value="false" type="radio" id="female">
                        <label for="female">{{::'COMMON.FEMALE' | translate}}</label>
                     </li>
                  </ul>
                  <input type = "text" ng-model="user.Location" placeholder="{{::'COMMON.CITY' | translate}}" 
                  name = "Location" validator="title">
                  <date datemodel="user.BirthDate" dateset="user.BirthDate" placeholder="{{::'COMMON.BIRTH' | translate}}"></date>
               </fieldset>
            </div>
            <div class="medium-3 grid-block">
               <fieldset>
                  <input type="text" ng-model="user.Email" placeholder="{{::'COMMON.EMAIL' | translate}}" name = "Email" validator="required, email">
                  <input type="text" ng-model="user.Skype" placeholder="{{::'COMMON.SKYPE' | translate}}" name = "Skype" validator="minlength=6, maxlength=32">
                  <input ng-model="user.PhoneNumber" placeholder="{{::'COMMON.PHONE' | translate}}" type="text">
               </fieldset>
            </div>
            <div class="medium-3 grid-block">
               <fieldset>
                  <input type="password" ng-model="user.Password" placeholder="{{::'SETTINGS.PASS' | translate}}" name="Password" validator = "required, minlength=6, maxlength=50">
                  <input type="password" ng-model="NewPasswor" placeholder="{{::'SETTINGS.NEW_PASS' | translate}}">
                  <input type="password" ng-model="ConfirmPassword" placeholder="{{::'SETTINGS.CONFIRM_PASS' | translate}}">
               </fieldset>
            </div>
         </div>
      </form>
   </div>
</div>
