<div class="card-divider" ng-class="{'list-with-form': type === 'list-with-input', 'form-only': type === 'form-only', 'only-events': type === 'only-events'}">
   <div class="grid-block">
      <div class="small-4 grid-block" ng-bind="::'COMMON.EVENTS' | translate"></div>
      <div class="small-3 grid-block"></div>
      <div class="small-5 grid-block align-right">
         <a ng-click="showAddEventDialog()" class="button" ng-bind="::'COMMON.ADD_EVENT' | translate"></a>
      </div>
   </div>
</div>
<div class="sidebar-content" ng-class="{'fot-calendar-list': type === 'only-events'}">
   <div class="grid-block">
      <div class="small-6 grid-block" ng-class="{'list-only': type === 'list-only', 'without-list': type === 'form-only', 'only-events': type === 'only-events'}">
         <form name="Event">
            <fieldset class="event-form">
               <label for="EventDescription" ng-bind="::'COMMON.DESCRIPTION' | translate"></label>
               <input id="EventDescription" name="EventDescription" type="text" ng-model="event.description" placeholder="{{::'COMMON.DESCRIPTION' | translate}}" type="text" validator="required, minlength=3, maxlength=200">
               <label for="EventType" ng-bind="::'THESAURUSES.THESAURUSES.EVENT_TYPES' | translate"></label>
               <select id="EventType" name="EventType" ng-model="event.eventTypeId">
                  <option selected value="" ng-bind="::'THESAURUSES.THESAURUSES.EVENT_TYPES' | translate"></option>
                  <option ng-repeat="eventType in eventTypes" value="{{eventType.id}}" ng-bind="eventType.title"></option>
               </select>
               <label for="Candidate" ng-bind="::'CANDIDATE.CANDIDATE' | translate"></label>
               <select id="Candidate" ng-disabled="source === 'candidate' && event.candidateId ? true : false" name="Candidate" ng-model="event.candidateId">
                  <option selected value="" ng-bind="::'CANDIDATE.CANDIDATE' | translate"></option>
                  <option ng-repeat="candidate in candidates" value="{{candidate.id}}" ng-bind="::(candidate.lastName+' '+candidate.firstName)"></option>
               </select>
               <label for="Vacancy" ng-bind="::'VACANCY.VACANCY' | translate"></label>
               <select id="Vacancy" name="Vacancy" ng-model="event.vacancyId">
                  <option selected value="" ng-bind="::'VACANCY.VACANCY' | translate"></option>
                  <option ng-repeat="vacancy in vacancies" value="{{vacancy.id}}" ng-bind="vacancy.title"></option>
               </select>
               <label for="Responsible" ng-bind="::'COMMON.RESPONSIBLE' | translate"></label>
               <select id="Responsible" ng-disabled="source === 'user' && event.responsibleId ? true : false" name="Responsible" ng-model="event.responsibleId" validator="required">
                  <option selected value="" ng-bind="::'COMMON.RESPONSIBLE' | translate"></option>
                  <option ng-repeat="responsible in responsibles" value="{{responsible.id}}" ng-bind="::(responsible.lastName+' '+responsible.firstName)"></option>
               </select>
               <label for="Date" ng-bind="::'COMMON.EVENT_DATE' | translate"></label>
               <input type="text" id="Date" placeholder="{{::'COMMON.EVENT_DATE' | translate}}" class="input-date" ng-model="event.eventDate" datetime-picker date-format="dd-MM-yyyy HH:mm:ss" close-on-select="true" /> </fieldset>
         </form>
      </div>
      <div class="small-6 grid-block" ng-class="{'without-form': (type === 'list-only' || type === 'only-events'), 'form-only' : type === 'form-only', 'full-temlate' : type === 'list-with-input'}">
         <section ng-if="events.length > 0" class="block-list">
            <ul class="icon-left events">
               <li ng-repeat="event in events track by $index">
                  <div class="grid-block">
                     <div class="medium-1 grid-block"> <img ng-if="event.eventType.imagePath" class="event-icon" ng-src="{{event.eventType.imagePath | botUrl}}"> </div>
                     <div class="vertical medium-10 grid-block event-content">
                        <a ng-click="showEditEventDialog(event)"> <span class="event-title" ng-bind="event.eventDate">:
                           </span> </a> <span class="event-title" ng-bind="event.eventType.title"></span>
                        <div ng-bind="event.description"></div>
                     </div>
                     <div class="medium-1 grid-block" ng-class="{'list-with-form': type === 'list-with-input'}"> <a ng-click="remove(event)"><i class="foundicon-trash general-icon icon-link"></i></a> </div>
                  </div>
               </li>
            </ul>
         </section>
      </div>
   </div>
</div>