<div ng-if="type === 'list-only'" class="card-divider" ng-class="{'list-with-form': type === 'list-with-input'}">
   <div class="grid-block">
      <div class="small-4 grid-block" ng-bind="::'COMMON.EVENTS' | translate"></div>
      <div class="small-3 grid-block"></div>
      <div class="small-5 grid-block align-right">
         <a ng-click="showAddEventDialog()" class="button" ng-bind="::'COMMON.ADD_EVENT' | translate"></a>
      </div>
   </div>
</div>
<div class="sidebar-content" ng-class="{'fot-calendar-list': type === 'only-events'}">
   <div class="grid-block">
      <div class="small-6 grid-block" ng-if="type === 'form-only' || type === 'list-with-input'" ng-class="{'without-list': type === 'form-only'}">
         <form name="Event">
            <fieldset class="event-form">
               <label for="EventDescription" ng-bind="::'COMMON.DESCRIPTION' | translate"></label>
               <textarea validator="required, minlength=3, maxlength=100" id="EventDescription" name="EventDescription" type="text" ng-model="event.description" placeholder="{{::'COMMON.DESCRIPTION' | translate}}"></textarea> 
               <label for="EventType" ng-bind="::'THESAURUSES.THESAURUSES.EVENT_TYPES' | translate"></label>
               <oi-select class="multiple-select" id="EventType"
                          ng-model="event.eventTypeId"
                          oi-options="eventType.id as eventType.title for eventType in eventTypes | orderBy : 'title'"
                          oi-select-options="{ cleanModel: true }"
                          placeholder="{{::'THESAURUSES.THESAURUSES.EVENT_TYPES' | translate}}">
               </oi-select>
               
               <label for="Candidate" ng-bind="::'CANDIDATE.CANDIDATE' | translate"></label>               
               <oi-select class="multiple-select" id="Candidate"
                          ng-disabled="source === 'candidate' && event.candidateId ? true : false"
                          name="Candidate"
                          ng-model="event.candidateId"
                          oi-options="candidate.id as (candidate.lastName | highlight : 'primary-font-color') +' '+(candidate.firstName | highlight : 'primary-font-color')+' '+(candidate.city.title || '')+' '+(candidate.birthDate || '')
                                      for candidate in searchCandidate($query, event.candidateId)
                                      | orderBy : 'lastName + \'|\' + firstName'"
                          oi-select-options="{ cleanModel: true }"
                          placeholder="{{::'CANDIDATE.CANDIDATE' | translate}}">
               </oi-select>
               
               <label for="Vacancy" ng-bind="::'VACANCY.VACANCY' | translate"></label>
               <oi-select class="multiple-select" id="Vacancy"
                          ng-model="event.vacancyId"
                          oi-options="vacancy.id as (vacancy.title | highlight : 'primary-font-color')+' '+(vacancy.departments | arrayAsString: 'title')+' '+((vacancy.cities | arrayAsString: 'title') || '') for vacancy in searchVacancy($query, event.vacancyId)
                          | orderBy : 'title'"
                          oi-select-options="{ cleanModel: true }"
                          placeholder="{{::'VACANCY.VACANCY' | translate}}">
               </oi-select>
               
               <label for="Responsible" ng-bind="::'COMMON.RESPONSIBLE' | translate"></label>
               <oi-select class="multiple-select" id="Responsible"
                          ng-disabled="source === 'user' && event.responsibleId ? true : false"
                          name="Responsible"
                          ng-model="event.responsibleId"
                          validator="required"
                          oi-options="responsible.id as responsible.lastName +' '+responsible.firstName
                                      for responsible in searchResponsible($query)
                                      | orderBy : 'lastName + \'|\' + firstName'"
                          ng-model="event.responsibleId"
                          oi-select-options="{ cleanModel: true }"
                          placeholder="{{::'COMMON.RESPONSIBLE' | translate}}">
               </oi-select>
               <label for="Date" ng-bind="::'COMMON.EVENT_DATE' | translate"></label>
               <input type="text" id="Date" placeholder="{{::'COMMON.EVENT_DATE' | translate}}" class="input-date" ng-model="event.eventDate" datetime-picker date-format="dd-MM-yyyy HH:mm:ss" close-on-select="false" name="eventDate" validator="required, date" valid-method="watch"/> </fieldset>
         </form>
      </div>
      <div ng-if="type === 'list-with-input' || type === 'only-events' || type === 'list-only'" class="small-6 grid-block" ng-class="{'without-form': (type === 'list-only' || type === 'only-events'), 'full-temlate' : type === 'list-with-input'}">
         <section ng-if="events.length > 0" class="block-list">
            <ul class="icon-left events">
               <li ng-style="{background: userColor[event.responsible.id]}" ng-class="{'event-height': source === 'calendar', 'event-width': source === 'full-calendar-list'}" ng-repeat="event in events | limitTo : limit">
                  <div class="grid-block">
                     <div class="event-icon" class="medium-1 grid-block"> <img ng-if="event.eventType.imagePath" ng-src="{{event.eventType.imagePath | botUrl}}"> </div>
                     <div class="vertical medium-10 grid-block event-content">
                        <a ng-click="showEditEventDialog(event)">
                        <div class="event-title" ng-bind="::event.description"></div>
                        </a> 
                        <span class="event-title" ng-class="{'display-none': source === 'calendar'}" ng-bind="::event.eventDate">
                        </span>
                        <div ng-if="source === 'full-calendar-list'" class="grid-block">
                           <span class="event-title"  ng-bind="::'COMMON.EVENT_TYPE' | translate"></span>
                           <span>:&nbsp;</span>
                           <span ng-bind="::event.eventType.title"></span>
                        </div>
                        <div ng-if="source === 'full-calendar-list'" class="grid-block">
                           <span class="event-title" ng-bind="::'VACANCY.VACANCY' | translate"></span>
                           <span>:&nbsp;</span>
                           <span ng-bind="::event.vacancy.title"></span>
                        </div>
                        <div ng-if="source === 'full-calendar-list'" class="grid-block">
                           <span class="event-title" ng-bind="::'CANDIDATE.CANDIDATE' | translate"></span>
                           <span>:&nbsp;</span>
                           <span ng-bind="::(event.candidate.lastName+' '+event.candidate.firstName)"></span>
                        </div>
                        <div ng-if="source === 'full-calendar-list'" class="grid-block">
                           <span class="event-title" ng-bind="::'COMMON.RESPONSIBLE' | translate"></span>
                           <span>:&nbsp;</span>
                           <span ng-bind="::(event.responsible.lastName+' '+event.responsible.firstName)"></span>
                        </div>
                     </div>
                     <div class="medium-1 grid-block" ng-class="{'display-none': type === 'list-with-input'}"> <a ng-click="remove(event)"><i class="foundicon-trash general-icon icon-link"></i></a> </div>
                  </div>
               </li>
            </ul>
         </section>
      </div>
   </div>
</div>