@import "../../common.scss";
.events {
   font-size: $rem-base*0.8;
   i {
      font-size: $rem-base;
      color: $gray-dark;
      @include breakpoint(medium only) { 
         font-size: $rem-base;
      }
      @include breakpoint(small only) { 
         font-size: $rem-base;
      }
   }
   i:hover {
      color: $primary-color;
   }
}
.display-none {
   display: none;
}

.without-list {
   flex: 0 0 100%;
   max-width: 100%; 
}
.without-form {
   flex: 0 0 100%;
   max-width: 100%;
   .block-list {
      width: 100%;
      margin-left: 0;
   }
}
.full-temlate {
   min-width: $rem-base*10;
   .block-list {
      width: 100%;
      margin-left: 0;
   }
}
.event-form {
   padding-top: 0;
}
.event-content {
   flex-wrap: wrap;
   padding-left: $rem-base/2;
   .event-title {
      font-weight: 600;
   }
}
.event-icon {
   width: 100%;
}
.fot-calendar-list {
   padding: 0;
}
.event-height {
   height: $rem-base;
   overflow: hidden;
   display: block;
}
.event-width {
   width: 50%;
   float: left;
   height: $rem-base*9.4;
   padding: $rem-base/2;
   border: solid 1px $gray;
}
