<div ng-show="errorMessage">{{errorMessage}}</div>
<div class="secondary-menu grid-block">
   <div class="large-2 grid-block">
      <div class="grid-content">
         <h5>{{::'COMMON.ADD_VACANCY' | translate}}</h5>
      </div>
   </div>
   <div class="large-7 grid-block">
   </div>
   <div class="large-3 grid-block align-right">
      <ul class="menu-bar second-button-bar">
         <li><a ng-click="cancel(Vacancy)">{{::'COMMON.CANCEL' | translate}}</a>
         </li>
         <li><a ng-click="saveVacancy($event, Vacancy)">{{::'COMMON.SUBMIT' | translate}}</a>
         </li>
      </ul>
   </div>
</div>
<div class="grid-block">
   <div class="medium-9 grid-block">
      <div class="main-card">
         <div class="card-divider">
            {{::'VACANCY.NEW_VACANCY' | translate}}
         </div>
         <div class="card-section">
            <form name="Vacancy">
               <div class="grid-block">
                  <div class="medium-4 grid-block">
                     <fieldset>
                        <input name="Title" ng-model="vacancy.title" placeholder="{{::'COMMON.TITLE' | translate}}" type="text" validator="required, minlength=3, maxlength=50">
                        <select name="Industry" ng-model="vacancy.industryId" validator="required">
                           <option selected value="">{{::'COMMON.INDUSTRY' | translate}}</option>
                           <option ng-repeat="industry in thesaurus.industries" value="{{industry.id}}">{{::industry.title}}</option>
                        </select>
                        <div class="grid-block">
                           <div class="medium-6 grid-block">
                              <select name="Language" ng-model="vacancy.languageSkill.languageId">
                                 <option selected value="">{{::'COMMON.LANGUAGE' | translate}}</option>
                                 <option ng-repeat="language in thesaurus.languages" value="{{language.id}}">{{::language.title}}</option>
                              </select>
                           </div>
                           <div class="medium-6 grid-block">
                              <select name="LanguageLevel" ng-model="vacancy.languageSkill.languageLevel">
                                 <option selected value="">{{::'COMMON.LEVEL' | translate}}</option>
                                 <option ng-repeat="languageLevel in thesaurus.languageLevels" value="{{languageLevel.id}}">{{::languageLevel.title}}</option>
                              </select>
                           </div>
                        </div>
                        <oi-select class="multiple-select" oi-options="level.id as level.title for level in thesaurus.levels" ng-model="vacancy.levelIds" multiple placeholder="{{::'COMMON.LEVEL' | translate}}"></oi-select>
                        <oi-select class="multiple-select" oi-options="location.id as location.title for location in thesaurus.locations" ng-model="vacancy.locationIds" multiple placeholder="{{::'COMMON.LOCATION' | translate}}"></oi-select>
                     </fieldset>
                  </div>
                  <div class="medium-4 grid-block">
                     <fieldset>
                        <select name="Responsible" ng-model="vacancy.responsibleId" validator="required">
                           <option selected value="">{{::'COMMON.RESPONSIBLE' | translate}}</option>
                           <option ng-repeat="responsible in responsibles" value="{{responsible.id}}">{{::responsible.lastName}}</option>
                        </select>
                        <select name="Department" ng-model="vacancy.departmentId" validator="required">
                           <option selected value="">{{::'COMMON.DEPARTMENT' | translate}}</option>
                           <option ng-repeat="department in thesaurus.departments" value="{{department.id}}">{{::department.title}}
                           </option>
                        </select>
                        <div class="grid-block">
                           <div class="medium-6 grid-block">
                              <input ng-model="vacancy.salaryMin" placeholder="{{::'COMMON.SALARY_MIN' | translate}}" type="number" min="0" step="50">
                           </div>
                           <div class="medium-6 grid-block">
                              <input ng-model="vacancy.salaryMax" placeholder="{{::'COMMON.SALARY_MAX' | translate}}" type="number" min="0" step="50">
                           </div>
                        </div>
                        <select name="Type of Employment" ng-model="vacancy.typesOfEmployment">
                           <option selected value="">{{::'COMMON.TYPE_OF_EMPLOYMENT' | translate}}</option>
                           <option ng-repeat="typeOfEmployment in thesaurus.typesOfEmployment" value="{{typeOfEmployment.id}}">{{::typeOfEmployment.title}}</option>
                        </select>
                        <div class="grid-block">
                           <div class="medium-6 grid-block">
                              <input id="masterVacancy" type="checkbox" ng-model="vacancy.masterVacancy" value="true">
                              <label for="masterVacancy">{{::'COMMON.MASTER_VACANCY' | translate}}</label>
                           </div>
                           <div class="medium-6 grid-block">
                              <input ng-disabled="!vacancy.masterVacancy" ng-model="vacancy.countOfChildrenVacancies" placeholder="{{::'COMMON.COUNT' | translate}}" type="number" min="0">
                           </div>
                        </div>
                     </fieldset>
                  </div>
                  <div class="medium-4 grid-block">
                     <fieldset>
                        <select name="Status" ng-model="vacancy.state">
                           <option selected value="">{{::'COMMON.STATUS' | translate}}</option>
                           <option selected value="5">{{::'VACANCY.OPEN' | translate}}</option>
                           <option selected value="6">{{::'VACANCY.PROCESSING' | translate}}</option>
                           <option selected value="7">{{::'VACANCY.CLOSED' | translate}}</option>
                           <option selected value="8">{{::'VACANCY.CANCELLED' | translate}}</option>
                        </select>
                        <date datemodel="vacancy.startDate" placeholder="{{::'COMMON.START_DATE' | translate}}"></date>
                        <date datemodel="vacancy.deadlineDate" placeholder="{{::'COMMON.DEADLINE_DATE' | translate}}"></date>
                        <date datemodel="vacancy.endDate" placeholder="{{::'COMMON.END_DATE' | translate}}"></date>
                        <input ng-model="vacancy.deadlineToCalendar" value="true" id="DeadlineToCalendar" type="checkbox">
                        <label for="DeadlineToCalendar">{{::'COMMON.ADD_DEADLINE_TO_CALENDAR' | translate}}</label>
                     </fieldset>
                  </div>
               </div>
               <fieldset>
                  <div class="grid-block">
                     <div class="medium-6 grid-block">
                        <oi-select class="multiple-select" oi-options="skill.title for skill in thesaurus.skills" ng-model="vacancy.requiredSkills" multiple placeholder="{{::'COMMON.SKILLS' | translate}}" oi-select-options="{newItem: true, newItemModel: {id: undefined, title: $query}}"></oi-select>
                     </div>
                     <div class="medium-6 grid-block">
                        <oi-select class="multiple-select" oi-options="tag.title for tag in thesaurus.tags" ng-model="vacancy.tags" multiple placeholder="{{::'COMMON.TAGS' | translate}}" oi-select-options="{newItem: true,  newItemModel: {id: undefined, title: $query}}"></oi-select>
                     </div>
                  </div>
                  <text-angular placeholder="{{::'COMMON.DESCRIPTION' | translate}}" name="htmlcontent" ng-model="vacancy.description" ta-text-editor-class="custom-form-content" ta-html-editor-class="custom-form-content" ta-focussed-class="custom-focussed" ta-toolbar-class="custom-toolbar" ta-toolbar-group-class="custom-btn-group" ta-toolbar-button-class="btn btn-default" ta-toolbar-active-button-class="custom-active"></text-angular>
               </fieldset>
               <div class="grid-block">
                  <div class="medium-6 grid-block">
                     <fieldset>
                        <input id="file-upload" type="file" nv-file-select="" multiple uploader="uploader">
                        <p claas="validation-invalid" ng-show="errorMessageFromFileUploader">{{errorMessageFromFileUploader}}</p>
                        <table class="upload-table" ng-hide="!uploader.queue.length">
                           <thead>
                              <tr>
                                 <th>№</th>
                                 <th>{{::'COMMON.NAME' | translate}}</th>
                                 <th>{{::'COMMON.SIZE' | translate}}</th>
                                 <th></th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr ng-repeat="item in uploader.queue">
                                 <td>{{$index+1}}</td>
                                 <td ng-bind="item.file.name"></td>
                                 <td ng-bind="item.file.size"></td>
                                 <td><a class="remove-item" ng-click="item.remove()"><i class="foundicon-remove general-icon"></i></a></td>
                              </tr>
                           </tbody>
                        </table>
                     </fieldset>
                  </div>
                  <div class="medium-6 grid-block"></div>
               </div>
            </form>
         </div>
      </div>
   </div>
   <div class="medium-3 grid-block">
      <div class="vertical medium-horizontal grid-block">
         <div class="sidebar">
            <div class="card-divider">
               {{::'CANDIDATES.CANDIDATES' | translate}}
            </div>
            <div class="sidebar-content">
               <ul class="some-change">
                  <li>
                     <input name="newCandidate" id="newCandidate" checked="" type="radio" ui-sref="candidate">
                     <label for="newCandidate">New</label>
                  </li>
                  <li>
                     <input name="candidateFromBOT" id="candidateFromBOT" type="radio" ui-sref="candidates">
                     <label for="candidateFromBOT">From BOT</label>
                  </li>
               </ul>
               <section class="block-list">
                  <ul class="candidates">
                     <li>
                        <div class="grid-block">
                           <div class="medium-5 grid-block">
                              <a href="#">Antonov Anton</a>
                           </div>
                           <div class="medium-7 grid-block">
                              <select name="Candidate stage" id="">
                                 <option value="">Pool</option>
                                 <option value="">Selected</option>
                                 <option value="">HR Interview</option>
                                 <option value="">Test Task</option>
                                 <option value="">Tech Interview</option>
                                 <option value="">Additional Interview</option>
                                 <option value="">Final Interview</option>
                                 <option value="">Job Offer Issued</option>
                                 <option value="">Job Offer Accepted</option>
                                 <option value="">Hired</option>
                                 <option value="">Rejected by company</option>
                                 <option value="">Rejected by candidate</option>
                              </select>
                           </div>
                        </div>
                     </li>
                     <li>
                        <div class="grid-block">
                           <div class="medium-5 grid-block">
                              <a href="#">Petrova Margarita</a>
                           </div>
                           <div class="medium-7 grid-block">
                              <select name="Candidate stage" id="">
                                 <option value="">Pool</option>
                                 <option value="">Selected</option>
                                 <option value="">HR Interview</option>
                                 <option value="">Test Task</option>
                                 <option value="">Tech Interview</option>
                                 <option value="">Additional Interview</option>
                                 <option value="">Final Interview</option>
                                 <option value="">Job Offer Issued</option>
                                 <option value="">Job Offer Accepted</option>
                                 <option value="">Hired</option>
                                 <option value="">Rejected by company</option>
                                 <option value="">Rejected by candidate</option>
                              </select>
                           </div>
                        </div>
                     </li>
                  </ul>
               </section>
            </div>
         </div>
         <div class="sidebar">
            <div class="card-divider">
               {{::'COMMON.COMMENTS' | translate}}
            </div>
            <div class="sidebar-content">
               <div class="grid-block">
                  <div class="medium-9 grid-block">
                     <textarea placeholder="Comment"></textarea>
                  </div>
                  <div class="medium-3 grid-block">
                     <a class="button button-with-input" href="#">{{::'COMMON.SAVE' | translate}}</a>
                  </div>
               </div>
               <section class="block-list">
                  <ul class="comments">
                     <li>
                        <div class="grid-block">
                           <div class="medium-10 grid-block">
                              Lorem ipsum dolor sit amet, ea cum nobis graecis repudiandae. Clita congue putent ius ea, in dicat movet quaestio eos
                           </div>
                           <div class="medium-1 grid-block">
                              <a href="#"><i class="foundicon-edit general-icon"></i></a>
                           </div>
                           <div class="medium-1 grid-block">
                              <a href="#"><i class="foundicon-trash general-icon"></i></a>
                           </div>
                        </div>
                     </li>
                     <li>
                        <div class="grid-block">
                           <div class="medium-10 grid-block">
                              Lorem ipsum dolor sit amet, ea cum nobis graecis repudiandae. Clita congue putent ius ea, in dicat movet quaestio eos
                           </div>
                           <div class="medium-1 grid-block">
                              <a href="#"><i class="foundicon-edit general-icon"></i></a>
                           </div>
                           <div class="medium-1 grid-block">
                              <a href="#"><i class="foundicon-trash general-icon"></i></a>
                           </div>
                        </div>
                     </li>
                     <li>
                        <div class="grid-block">
                           <div class="medium-10 grid-block">
                              Lorem ipsum dolor sit amet, ea cum nobis graecis repudiandae. Clita congue putent ius ea, in dicat movet quaestio eos
                           </div>
                           <div class="medium-1 grid-block">
                              <a href="#"><i class="foundicon-edit general-icon"></i></a>
                           </div>
                           <div class="medium-1 grid-block">
                              <a href="#"><i class="foundicon-trash general-icon"></i></a>
                           </div>
                        </div>
                     </li>
                  </ul>
               </section>
            </div>
         </div>
      </div>
   </div>
</div>