<div class="secondary-menu grid-block">
   <div class="large-2 grid-block">
      <div class="grid-content">
         <h5 ng-bind="::'COMMON.ADD_VACANCY' | translate"></h5> </div>
   </div>
   <div class="large-7 grid-block"> </div>
   <div class="large-3 grid-block align-right">
      <ul class="menu-bar second-button-bar">
         <li>
            <a ng-click="back()" ng-bind="::'COMMON.BACK' | translate"></a>
         </li>
         <li>
            <a ng-click="saveVacancy($event, Vacancy)" ng-bind="::'COMMON.SAVE' | translate"></a>
         </li>
      </ul>
   </div>
</div>
<div class="grid-block">
   <div class="medium-9 grid-block">
      <div class="main-card">
         <div class="card-divider" ng-bind="::'VACANCY.NEW_VACANCY' | translate"> </div>
         <div class="card-section">
            <form name="Vacancy">
               <div class="grid-block">
                  <div class="medium-4 grid-block">
                     <fieldset>
                        <input name="Title" ng-model="vacancy.title" placeholder="{{::'COMMON.TITLE' | translate}}" type="text" validator="required, maxlength=50">
                        <oi-select class="multiple-select" oi-options="industry.id as industry.title for industry in thesaurus.industry | orderBy : 'title'" ng-model="vacancy.industryId" oi-select-options="{ cleanModel: true }" placeholder="{{::'COMMON.INDUSTRY' | translate}}" name="vacancyIndustry" validator="required"></oi-select>
                        <div class="grid-block">
                           <div class="medium-6 grid-block">
                              <oi-select class="multiple-select"
                                         oi-options="language.id as language.title 
                                                     for language in thesaurus.language 
                                                     | orderBy : 'title'"
                                         ng-model="vacancy.languageSkill.languageId" 
                                         oi-select-options="{ cleanModel: true }"
                                         placeholder="{{::'COMMON.LANGUAGE' | translate}}">
                              </oi-select>
                           </div>
                           <div class="medium-6 grid-block">
                              <oi-select ng-disabled="!vacancy.languageSkill.languageId" 
                                         class="multiple-select" 
                                         oi-options="level.id as level.title 
                                                     for level in thesaurus.languageLevel 
                                                     | orderBy : 'title'" 
                                         ng-model="vacancy.languageSkill.languageLevel" 
                                         oi-select-options="{ cleanModel: true }" 
                                         placeholder="{{::'COMMON.LEVEL' | translate}}">
                              </oi-select>
                           </div>
                        </div>
                        <oi-select class="multiple-select"
                                   oi-options="level.id as level.title for level in thesaurus.level | orderBy : 'title'"
                                   ng-model="vacancy.levelIds"
                                   multiple
                                   placeholder="{{::'COMMON.LEVEL' | translate}}">
                        </oi-select>
                        <oi-select class="multiple-select"
                                   oi-options="city.id as city.title for city in locations  | orderBy : 'title'"
                                   ng-model="vacancy.cityIds"
                                   multiple
                                   placeholder="{{::'COMMON.LOCATION' | translate}}"
                                   name="vacancyLocation"
                                   validator="required">
                        </oi-select>
                     </fieldset>
                  </div>
                  <div class="medium-4 grid-block">
                     <fieldset>
                        <oi-select class="multiple-select" oi-options="responsible.id as responsible.lastName + ' ' + responsible.firstName for responsible in searchResponsible($query) | orderBy : 'lastName+ \'|\' + firstName'" ng-model="vacancy.responsibleId" oi-select-options="{ cleanModel: true }" placeholder="{{::'COMMON.RESPONSIBLE' | translate}}" name="vacancyResponsible" validator="required"></oi-select>
                        <oi-select class="multiple-select" oi-options="department.id as department.title for department in thesaurus.department | orderBy : 'title'" ng-model="vacancy.departmentId" oi-select-options="{ cleanModel: true }" placeholder="{{::'COMMON.DEPARTMENT' | translate}}" name="Department" validator="required"></oi-select>
                        <div class="grid-block">
                           <div class="medium-4 grid-block validation-line-break">
                              <input ng-model="vacancy.salaryMin" placeholder="{{::'COMMON.SALARY_MIN' | translate}}" type="tel" name="salaryMin" , validator="counter=1000000" ui-mask="9?9?9?9?9?9?9?" ui-mask-placeholder ui-mask-placeholder-char="space" counter-error-message="{{::'ERRORS.COUNTER' | translate:'{count: 1000000}'}}" class="salary-input">
                           </div>
                           <div class="medium-4 grid-block validation-line-break">
                              <input ng-model="vacancy.salaryMax" placeholder="{{::'COMMON.SALARY_MAX' | translate}}" type="tel" name="salaryMax" , validator="counter=1000000, mincount" min-count-value="{{vacancy.salaryMin}}" ui-mask="9?9?9?9?9?9?9?" ui-mask-placeholder ui-mask-placeholder-char="space" counter-error-message="{{::'ERRORS.COUNTER' | translate:'{count: 1000000}'}}" class="salary-input">
                           </div>
                           <div class="medium-4 grid-block validation-line-break">
                              <oi-select class="multiple-select" oi-options="currency.id as currency.title for currency in thesaurus.currency | orderBy : 'title'" ng-model="vacancy.currencyId" oi-select-options="{ cleanModel: true }" placeholder="{{::'COMMON.CURRENCY' | translate}}" name="vacancyCurrency" validator="required" is-need-required="{{ !!vacancy.salaryMin || !!vacancy.salaryMax }}"></oi-select>
                           </div>
                        </div>
                        <oi-select class="multiple-select" oi-options="typeOfEmployment.id as typeOfEmployment.title for typeOfEmployment in thesaurus.typeOfEmployment | orderBy : 'title'" ng-model="vacancy.typeOfEmployment" oi-select-options="{ cleanModel: true }" placeholder="{{::'COMMON.TYPE_OF_EMPLOYMENT' | translate}}"></oi-select>
                        <div class="grid-block">
                           <div class="medium-6 grid-block">
                              <input ng-model="vacancy.cloneVacanciesNumber" placeholder="{{::'COMMON.COUNT' | translate}}" type="tel" name="vacCounter" , validator="counter" ui-mask="9?9?" ui-mask-placeholder ui-mask-placeholder-char="space">
                           </div>
                        </div>
                     </fieldset>
                  </div>
                  <div class="medium-4 grid-block">
                     <fieldset>
                        <oi-select class="multiple-select" oi-options="state.value as getStateTitle(state.translateTitleKey) for state in utils.states" ng-model="vacancy.state" oi-select-options="{ cleanModel: true }" placeholder="{{::'COMMON.STATUS' | translate}}" name="vacancyState" validator="required"></oi-select>
                        <input type="tel" placeholder="{{::'COMMON.START_DATE' | translate}}" class="input-date" ng-model="vacancy.startDate" datetime-picker date-format="dd-MM-yyyy" close-on-select="true" date-only ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" name="startDate" model-view-value="true" validator="date, required" is-need-required="{{vacancy.state === 6}}" valid-method="watch"/>
                        <input type="tel" placeholder="{{::'COMMON.DEADLINE_DATE' | translate}}" class="input-date" ng-model="vacancy.deadlineDate" datetime-picker date-format="dd-MM-yyyy" close-on-select="true" date-only ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" name="deadlineDate" model-view-value="true" validator="date" min-date="{{vacancy.startDate}}" valid-method="watch" min-date="{{vacancy.startDate}}"/>
                        <input type="tel" placeholder="{{::'COMMON.END_DATE' | translate}}" class="input-date" ng-model="vacancy.endDate" datetime-picker date-format="dd-MM-yyyy" close-on-select="true" date-only ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" name="endDate" model-view-value="true" validator="date, required" is-need-required="{{vacancy.state === 8}}" min-date="{{vacancy.startDate}}" valid-method="watch"/>
                        <input ng-model="vacancy.deadlineToCalendar" value="true" id="DeadlineToCalendar" type="checkbox">
                        <label for="DeadlineToCalendar" ng-bind="::'COMMON.ADD_DEADLINE_TO_CALENDAR' | translate"></label>
                     </fieldset>
                  </div>
               </div>
               <fieldset>
                  <div class="grid-block">
                     <div class="medium-6 grid-block">
                        <oi-select class="multiple-select"
                                   oi-options="skill.title for skill in thesaurus.skill | orderBy : 'title'"
                                   ng-model="vacancy.requiredSkills"
                                   multiple
                                   placeholder="{{::'COMMON.SKILLS' | translate}}"
                                   oi-select-options="{newItem: true, newItemModel: {id: undefined, title: $query}}">
                        </oi-select>
                     </div>
                     <div class="medium-6 grid-block">
                        <oi-select class="multiple-select"
                                   oi-options="tag.title for tag in thesaurus.tag | orderBy : 'title'"
                                   ng-model="vacancy.tags"
                                   multiple
                                   placeholder="{{::'COMMON.TAGS' | translate}}"
                                   oi-select-options="{newItem: true,  newItemModel: {id: undefined, title: $query}}">
                        </oi-select>
                     </div>
                  </div>
                  <text-angular placeholder="{{::'COMMON.DESCRIPTION' | translate}}" name="htmlcontent" ng-model="vacancy.description" ta-text-editor-class="custom-form-content" ta-html-editor-class="custom-form-content" ta-focussed-class="custom-focussed" ta-toolbar-class="custom-toolbar" ta-toolbar-group-class="custom-btn-group" ta-toolbar-button-class="btn btn-default" ta-toolbar-active-button-class="custom-active"></text-angular>
               </fieldset>
               <div class="grid-block">
                  <div class="medium-6 grid-block">
                     <fieldset>
                        <input id="file-upload" type="file" nv-file-select="" multiple uploader="uploader">
                        <table class="upload-table" ng-hide="!vacancy.files.length">
                           <caption ng-bind="::'COMMON.ADDED_FILES' | translate">:</caption>
                           <thead>
                              <tr>
                                 <th>№</th>
                                 <th ng-bind="::'COMMON.NAME' | translate"></th>
                                 <th ng-bind="::'COMMON.SIZE' | translate"></th>
                                 <th></th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr ng-repeat="item in vacancy.files">
                                 <td>{{$index+1}}</td>
                                 <td>
                                    <a target="_blank" href="{{item.filePath | botUrl}}" ng-bind="::item.description"></a>
                                 </td>
                                 <td ng-bind="item.fileSize"></td>
                                 <td><a class="remove-item" ng-click="addFilesForRemove(item)"><i class="foundicon-remove general-icon"></i></a></td>
                              </tr>
                           </tbody>
                        </table>
                        <table class="upload-table" ng-hide="isFilesUploaded">
                           <caption ng-bind="::'COMMON.FILES_TO_UPLOAD' | translate">:</caption>
                           <thead>
                              <tr>
                                 <th>№</th>
                                 <th ng-bind="::'COMMON.NAME' | translate"></th>
                                 <th ng-bind="::'COMMON.SIZE' | translate"></th>
                                 <th></th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr ng-repeat="item in uploader.queue">
                                 <td>{{$index+1}}</td>
                                 <td ng-bind="::item.file.name"></td>
                                 <td ng-bind="::item.file.size"></td>
                                 <td><a class="remove-item" ng-click="item.remove()"><i class="foundicon-remove general-icon"></i></a></td>
                              </tr>
                           </tbody>
                        </table>
                     </fieldset>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
   <div class="medium-3 grid-block vertical-sidebar">
      <div class="vertical medium-horizontal grid-block">
         <div class="sidebar">
            <comments comments="comments" save="saveComment" remove="removeComment" type="comment"></comments>
         </div>
      </div>
   </div>
</div>