@import './../../common.scss';
@import './../../foundation.scss';
candidate-vacancy-info {
    width: 100%;
    select:first-child {
        color: $body-font-color;
    }
    min-height: 440px;
}

@mixin overrided-button() {
    @include button ( $background: #fff, $color: #0097a7, $background-hover: rgba(0, 151, 167, 0.25));
    border: solid 1px $primary-color;
    :hover {
        color: #03899C;
    }
}

textarea {
    max-height: 3*$rem-base;
}
.passed {
    box-shadow: inset 0px 0px 13px 9px transparentize($gray-dark, 0.88);
}
.not-passed {
    box-shadow: inset 0px 0px 13px 9px transparentize(red, 0.8);
}
.active {
    box-shadow: inset 0px 0px 13px 9px transparentize($gray-dark, 0.68);
}
.invalid {
    box-shadow: inset 0px 0px 3px 0px rgba(240, 65, 36, 0.7);
}
.action-sheet {
    width: 170px;
}
.stages-dialog-container {
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
} 

.valid {
    box-shadow: inset 0px 0px 3px 0px transparentize(green, 0.9);
}
.stages {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 35%;
}
#stages {
   max-height: 35.71*$rem-base;
   overflow-y: scroll;
}

.table-stage-button {
    @include overrided-button();
}

.table-hire-button {
     @include overrided-button();
}

.table-reject-button {
     @include overrided-button();
}

.candidate-info-table {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.table-stage-buttons-container a {
    margin-right: $rem-base / 2;
}

th {
    text-align: center;
}

.table-container {
    width: 100%;
    td {
        text-align: center;
    }
}
i.comment-icon {
    font-size: 17.5px;
    opacity: 0.5; 
    padding-left: 2px;
    &:hover {
        opacity: 1;
    }
    transition: 0.2s ease-in-out all;
}

div.pressed {
    box-shadow: inset 0px 0px $rem-base/2 0px rgba(0, 0, 0, 0.7);
}

.has-entities {
    border-right: solid 1px #fff;
}

.stage-button-text {
    color: $body-font-color;
    padding: $rem-base / 2;
}

.filter-count {
    color: $gray-dark;
    text-align: center;
}

#stagesAndDatePicker {
    display: flex;
    flex-direction: row;
    :first-child {
        width: 100%;
    }
    :second-child {
        flex-shrink: 0;
    }
}

.stage-button {
    @include button ($background: transparentize(#0097a7, 0.9), $color: #fff, $background-hover: rgba(0, 151, 167, 0.75));
    border-bottom: solid 1px #fff;
    transition: 0.2s ease-in-out all;
}
.wide {
    width: 100%;
}
.half-transparent-element {
    opacity: 0.5;
}
.half-transparent-element:hover {
    opacity: 1;
}
.many-stage-button {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    transition: background 0.25s ease-out;
    vertical-align: middle;
    width: 100%;		
    border: solid 1px $border-color;	
    border-bottom: 2px $border-color;	
    padding: $rem-base / 2;		
    color: $body-font-color;
    display: flex;
    flex-direction: row;
    align-items: center;
}
input[type="tel"].stage-date-picker {
    margin-bottom: 0;
    width: 125px;
}
.scroll-window {
    overflow-y:scroll;
    z-index:10;
    max-height: $rem-base*28.57; 
}

.notification-content > p {
    white-space: pre;
}