<div class="candidate-info-table" ng-if="parentEntity==='vacancy' && directiveType==='full'">
    <div class="stages">
        <div class="stage-filter" ng-click="filterByStage(stage)" ng-repeat="stage in vacancyStages track by $index" ng-class="{'pressed': stage._isPressed}">
            <a class='fitler-button' ng-bind="stage.stage.title" ng-class="{'has-candidates': stage._hasCandidates}"></a>
            <a ng-if="stage._hasCandidates" class='filter-count' ng-bind="stage.candidateCount"></a>
        </div>
      </div> 
    <div class="">
        <table>
            <thead>
                <tr>
                    <th>№</th>
                    <th ng-bind=":: 'CANDIDATE.CANDIDATE' | translate "></th>
                    <th>Current stage</th>
                    <!--<th ng-bind=":: 'COMMON.DATE' | translate "></th>
                    <th ng-bind=":: 'COMMON.COMMENTS' | translate "></th>-->
                    <th>Stages</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="candidateStage in candObjectsToShow track by $index ">
                    <td ng-bind="$index+1"></td>
                    <td><a ng-click="goCandidate(candidateStage.candidateId)">{{candidateStage.candidate.firstName}} {{candidateStage.candidate.lastName}}</a></td>
                    <td ng-bind="getStageTitle(candidateStage.currentStageId)"></td>
                    <td>
                        <a class="table-stage-button" ng-click="callStagesDialog(candidateStage)">Stages progress</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="candidate-info-table " ng-if="parentEntity==='candidate' && directiveType==='full' ">
    <table>
        <thead>
            <tr>
                <th>№</th>
                <th ng-bind=":: 'VACANCIES.VACANCIES' | translate "></th>
                <th>Current stage</th>
                <th ng-bind=":: 'COMMON.DATE' | translate "></th>
                <th ng-bind=":: 'COMMON.COMMENTS' | translate "></th>
                <th>Stages</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="vacancyStage in composedby track by $index ">
                <td ng-bind="$index+1"></td>
                <td><a ng-click="goVacancy(vacancyStage.candidateId)">{{vacancyStage.vacancy.title}}</a></td>
                <td ng-bind="getStageTitle(vacancyStage.latestStageId, vacancyStage)"></td>
                <td ng-bind="getDate(vacancyStage) | date "></td>
                <td ng-bind="getComment(vacancyStage)"></td>
                <td><a class="button" ng-click="callStagesDialog(vacancyStage)">Stages progress</a></td>
            </tr>
        </tbody>
    </table>
</div>