<div>
    <input type="tel" 
        placeholder="Please, choose hire date" 
        class="input-date" 
        ng-model="dialogTransferObject.hireDate" 
        datetime-picker date-format="dd-MM-yyyy" 
        close-on-select="true" 
        date-only 
        ui-mask="99-99-9999" 
        ui-mask-placeholder 
        ui-mask-placeholder-char="_" 
        model-view-value="true" 
        validator="date" max-date="{{getTodayDate()}}" 
        date-error-message="Date should be today or less than"
        valid-method="watch"
    />
    <textarea
        ng-if="dialogTransferObject.hireDate"
        ng-model="dialogTransferObject.comment"
        placeholder="{{::'COMMON.COMMENTS' | translate}}"
        validator="required"
        name="comment"
    >
    </textarea>
</div>
