<div id="stages">
   <div ng-repeat="stageAndVsi in vacancyStagesEntitiesVSIs track by $index">
      <div id="stagesAndDatePicker">

         <div class="stages-dialog-container">
            <div style="height: 34px" class="many-stage-button" 
               ng-class='stageAndVsi.class' ng-click="stageClick(stageAndVsi, entityStageObject, vacancyStagesEntitiesVSIs, $index)">
               <div style="height: 14px" ng-bind="::stageAndVsi.stage.stage.title"></div>
            </div>
         </div>
         <div style="height: 34px" class="align-right grid-block">
            <input 
                  tyle="height: 34px" 
                  type="tel" 
                  ng-if="stageAndVsi.stageState != 0"
                  placeholder="Please, choose pass date" 
                  class="stage-date-picker" 
                  ng-model="stageAndVsi.vsi.dateOfPass"
                  datetime-picker date-format="dd-MM-yyyy" 
                  close-on-select="true" date-only u
                  i-mask="99-99-9999"
                  ui-mask-placeholder
                  ui-mask-placeholder-char="_" model-view-value="true" 
            />
         </div>
      </div>

      <textarea 
         id="comment-area-{{$index}}"
         ng-disabled="stageAndVsi.class == 'passed'" 
         ng-class="{'invalid': !stageAndVsi.areaIsValid, 'valid': stageAndVsi.areaIsValid}" 
         class="comment-area" ng-if='stageAndVsi.showCommentArea'
         ng-model='stageAndVsi.vsi.comment.message'>
      </textarea>
   </div>
</div>
