<div>
   <div class="grid-block">
      <div class="small-2 grid-block" >
         <a ng-click="goToPreviousYear()"><i class="fi-rewind"></i></a>
         <span class="date-title" ng-bind="dateForSearchEvents | date:'yyyy'"></span>
         <a ng-click="goToNextYear()"><i class="fi-fast-forward"></i></a>
      </div>
      <div class="small-2 grid-block" >
         <a ng-click="goToPreviousMonth()"><i class="fi-rewind"></i></a>
         <span class="date-title" ng-bind="dateForSearchEvents | date: 'MMMM'"></span>
         <a ng-click="goToNextMonth()"><i class="fi-fast-forward"></i></a>
      </div>
      <div class="small-8 grid-block"></div>
   </div>
   <hr>
   <div class="div-table">
      <div class="div-table-head">
         <div ng-bind="day" ng-repeat="day in daysOfWeek" class="div-table-col-head" align="center"></div>
      </div>
      <div class="div-table-row">
         <div ng-click="getEventsForDate(day)" ng-dblclick="onDblclick(day)" ng-class="{'today-date': (todayDate | date:'dd, MM, yyyy') === (day | date:'dd, MM, yyyy'), 'dates-from-previous-month': (dateForSearchEvents | date:'MM') !== (day | date:'MM')}" class="div-table-col" ng-repeat="day in daysInMonth | limitTo : 7 : 0">
            <div class="grid-block">
               <div class="small-10 grid-block">
                  <p class="day-title" ng-bind="day | date:'d'"></p>
               </div>
               <div class="small-2 grid-block" ng-if="(eventsForMonth[day.getDate()+','+(day.getMonth()+1)+','+day.getFullYear()].length-3) > 0">
                  <p class="events-number">+</p>
                  <p class="events-number" ng-bind="eventsForMonth[day.getDate()+','+(day.getMonth()+1)+','+day.getFullYear()].length-3"></p>
               </div>
            </div>
            <events user-color="userColor" selected-date="day" get-events-by-date="getEventsByDate" user-id="1" vacancies="vacancies" candidates="candidates" event-types="eventTypes" responsibles="users" remove="removeCurrentEvent" save="saveCurrentEvent" events="eventsForMonth[day.getDate()+','+(day.getMonth()+1)+','+day.getFullYear()]" source="calendar" type="only-events"></events>
         </div>
      </div>
      <div class="div-table-row">
         <div ng-click="getEventsForDate(day)" ng-dblclick="onDblclick(day)" ng-class="{'today-date': (todayDate | date:'dd, MM, yyyy') === (day | date:'dd, MM, yyyy'), 'dates-from-previous-month': (dateForSearchEvents | date:'MM') !== (day | date:'MM')}" class="div-table-col" ng-repeat="day in daysInMonth | limitTo : 7 : 7">
            <div class="grid-block">
               <div class="small-10 grid-block">
                  <p class="day-title" ng-bind="day | date:'d'"></p>
               </div>
               <div class="small-2 grid-block" ng-if="(eventsForMonth[day.getDate()+','+(day.getMonth()+1)+','+day.getFullYear()].length-3) > 0">
                  <p class="events-number">+</p>
                  <p class="events-number" ng-bind="eventsForMonth[day.getDate()+','+(day.getMonth()+1)+','+day.getFullYear()].length-3"></p>
               </div>
            </div>
            <events user-color="userColor" selected-date="day" get-events-by-date="getEventsByDate" user-id="1" vacancies="vacancies" candidates="candidates" event-types="eventTypes" responsibles="users" remove="removeCurrentEvent" save="saveCurrentEvent" events="eventsForMonth[day.getDate()+','+(day.getMonth()+1)+','+day.getFullYear()]" source="calendar" type="only-events"></events>
         </div>
      </div>
      <div class="div-table-row">
         <div ng-click="getEventsForDate(day)" ng-dblclick="onDblclick(day)" ng-class="{'today-date': (todayDate | date:'dd, MM, yyyy') === (day | date:'dd, MM, yyyy'), 'dates-from-previous-month': (dateForSearchEvents | date:'MM') !== (day | date:'MM')}" class="div-table-col" ng-repeat="day in daysInMonth | limitTo : 7 : 14">
            <div class="grid-block">
               <div class="small-10 grid-block">
                  <p class="day-title" ng-bind="day | date:'d'"></p>
               </div>
               <div class="small-2 grid-block" ng-if="(eventsForMonth[day.getDate()+','+(day.getMonth()+1)+','+day.getFullYear()].length-3) > 0">
                  <p class="events-number">+</p>
                  <p class="events-number" ng-bind="eventsForMonth[day.getDate()+','+(day.getMonth()+1)+','+day.getFullYear()].length-3"></p>
               </div>
            </div>
            <events user-color="userColor" selected-date="day" get-events-by-date="getEventsByDate" user-id="1" vacancies="vacancies" candidates="candidates" event-types="eventTypes" responsibles="users" remove="removeCurrentEvent" save="saveCurrentEvent" events="eventsForMonth[day.getDate()+','+(day.getMonth()+1)+','+day.getFullYear()]" source="calendar" type="only-events"></events>
         </div>
      </div>
      <div class="div-table-row">
         <div ng-click="getEventsForDate(day)" ng-dblclick="onDblclick(day)" ng-class="{'today-date': (todayDate | date:'dd, MM, yyyy') === (day | date:'dd, MM, yyyy'), 'dates-from-previous-month': (dateForSearchEvents | date:'MM') !== (day | date:'MM')}" class="div-table-col" ng-repeat="day in daysInMonth | limitTo : 7 : 21">
            <div class="grid-block">
               <div class="small-10 grid-block">
                  <p class="day-title" ng-bind="day | date:'d'"></p>
               </div>
               <div class="small-2 grid-block" ng-if="(eventsForMonth[day.getDate()+','+(day.getMonth()+1)+','+day.getFullYear()].length-3) > 0">
                  <p class="events-number">+</p>
                  <p class="events-number" ng-bind="eventsForMonth[day.getDate()+','+(day.getMonth()+1)+','+day.getFullYear()].length-3"></p>
               </div>
            </div>
            <events user-color="userColor" selected-date="day" get-events-by-date="getEventsByDate" user-id="1" vacancies="vacancies" candidates="candidates" event-types="eventTypes" responsibles="users" remove="removeCurrentEvent" save="saveCurrentEvent" events="eventsForMonth[day.getDate()+','+(day.getMonth()+1)+','+day.getFullYear()]" source="calendar" type="only-events"></events>
         </div>
      </div>
      <div class="div-table-row">
         <div ng-click="getEventsForDate(day)" ng-dblclick="onDblclick(day)" ng-class="{'today-date': (todayDate | date:'dd, MM, yyyy') === (day | date:'dd, MM, yyyy'), 'dates-from-previous-month': (dateForSearchEvents | date:'MM') !== (day | date:'MM')}" class="div-table-col" ng-repeat="day in daysInMonth | limitTo : 7 : 28">
            <div class="grid-block">
               <div class="small-10 grid-block">
                  <p class="day-title" ng-bind="day | date:'d'"></p>
               </div>
               <div class="small-2 grid-block" ng-if="(eventsForMonth[day.getDate()+','+(day.getMonth()+1)+','+day.getFullYear()].length-3) > 0">
                  <p class="events-number">+</p>
                  <p class="events-number" ng-bind="eventsForMonth[day.getDate()+','+(day.getMonth()+1)+','+day.getFullYear()].length-3"></p>
               </div>
            </div>
            <events user-color="userColor" selected-date="day" get-events-by-date="getEventsByDate" user-id="1" vacancies="vacancies" candidates="candidates" event-types="eventTypes" responsibles="users" remove="removeCurrentEvent" save="saveCurrentEvent" events="eventsForMonth[day.getDate()+','+(day.getMonth()+1)+','+day.getFullYear()]" source="calendar" type="only-events"></events>
         </div>
      </div>
      <div class="div-table-row">
         <div ng-click="getEventsForDate(day)" ng-dblclick="onDblclick(day)" ng-class="{'today-date': (todayDate | date:'dd, MM, yyyy') === (day | date:'dd, MM, yyyy'), 'dates-from-previous-month': (dateForSearchEvents | date:'MM') !== (day | date:'MM')}" class="div-table-col" ng-repeat="day in daysInMonth | limitTo : 7 : 35">
            <div class="grid-block">
               <div class="small-10 grid-block">
                  <p class="day-title" ng-bind="day | date:'d'"></p>
               </div>
               <div class="small-2 grid-block" ng-if="(eventsForMonth[day.getDate()+','+(day.getMonth()+1)+','+day.getFullYear()].length-3) > 0">
                  <p class="events-number">+</p>
                  <p class="events-number" ng-bind="eventsForMonth[day.getDate()+','+(day.getMonth()+1)+','+day.getFullYear()].length-3"></p>
               </div>
            </div>
            <events user-color="userColor" selected-date="day" get-events-by-date="getEventsByDate" user-id="1" vacancies="vacancies" candidates="candidates" event-types="eventTypes" responsibles="users" remove="removeCurrentEvent" save="saveCurrentEvent" events="eventsForMonth[day.getDate()+','+(day.getMonth()+1)+','+day.getFullYear()]" source="calendar" type="only-events"></events>
         </div>
      </div>
   </div>
</div>
<div class="event-board">
   <events user-color="userColor" selected-date="selectedDay" get-events-by-date="getEventsByDate" user-id="1" vacancies="vacancies" candidates="candidates" event-types="eventTypes" responsibles="users" remove="removeCurrentEvent" source="full-calendar-list" save="saveCurrentEvent" events="eventsForDay" type="only-events"></events>
</div>