<div class="secondary-menu grid-block">
    <div class="large-2 grid-block">
        <div class="grid-content">
            <h5>{{::'HOME.HOME' | translate}}</h5>
        </div>
    </div>
    <div class="large-8 grid-block">
    </div>
    <div class="large-2 grid-block align-right">
        <ul class="menu-bar second-button-bar">
            <li><a href="#">{{::'COMMON.ADD_EVENT' | translate}}</a>
            </li>
        </ul>
    </div>
</div>
<div class="grid-block">
    <div class="medium-8 grid-block">
        <div class="main-card">
            <div class="card-divider">
                {{::'VACANCIES.BASE_OF_VACANCIES' | translate}}
            </div>
            <div class="card-section">
                <table>
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Vacancy name</th>
                            <th>State</th>
                            <th>Responsible</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>.NET Developer</td>
                            <td>Open</td>
                            <td>Kulish Alina</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>.NET Developer</td>
                            <td>Open</td>
                            <td>Kulish Alina</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>.NET Developer</td>
                            <td>Open</td>
                            <td>Kulish Alina</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>.NET Developer</td>
                            <td>Open</td>
                            <td>Kulish Alina</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-section switch-pages">
                <ul class="menu-bar second-button-bar">
                    <li><a href="#"><i class="foundicon-left-arrow general-icon"></i></a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#"><i class="foundicon-right-arrow general-icon"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="medium-4 grid-block">
        <div class="vertical medium-horizontal grid-block">
            <div class="sidebar">
                <div class="card-divider">
                    <div class="grid-block">
                        <div class="medium-9 grid-block">{{::'COMMON.EVENTS' | translate}}</div>
                        <div class="medium-3 grid-block">
                            <a class="button button-with-input" href="#">{{::'COMMON.ADD' | translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-content">
                    <section class="block-list">
                        <ul class="icon-left events">
                            <li>
                                <div class="grid-block">
                                    <div class="medium-2 grid-block">
                                        <i class="foundicon-people general-icon"></i>
                                    </div>
                                    <div class="medium-10 grid-block">
                                        <a href="#"><span>15.05.16 at 11.00 HR-Interviev with Antonov Viktor</span></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="grid-block">
                                    <div class="medium-2 grid-block">
                                        <i class="foundicon-website general-icon"></i>
                                    </div>
                                    <div class="medium-10 grid-block">
                                        <a href="#"><span>16.05.16 at 14.00 Tech-Interviev with Antonov Viktor</span></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="grid-block">
                                    <div class="medium-2 grid-block">
                                        <i class="foundicon-phone general-icon"></i>
                                    </div>
                                    <div class="medium-10 grid-block">
                                        <a href="#"><span>25.05.16 Call to Vasilenko Anna</span></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
            <div class="sidebar">
                <div class="card-divider">
                    {{::'COMMON.NOTES' | translate}}
                </div>
                <div class="sidebar-content">
                    <div class="grid-block">
                        <div class="medium-9 grid-block">
                            <textarea placeholder="Note"></textarea>
                        </div>
                        <div class="medium-3 grid-block">
                            <a class="button button-with-input" href="#">{{::'COMMON.SAVE' | translate}}</a>
                        </div>
                    </div>
                    <section class="block-list">
                        <ul class="comments">
                            <li>
                                <div class="grid-block">
                                    <div class="medium-10 grid-block">
                                        Lorem ipsum dolor sit amet, ea cum nobis graecis repudiandae. Clita congue putent ius ea, in dicat movet quaestio eos
                                    </div>
                                    <div class="medium-1 grid-block">
                                        <a href="#"><i class="foundicon-edit general-icon"></i></a>
                                    </div>
                                    <div class="medium-1 grid-block">
                                        <a href="#"><i class="foundicon-trash general-icon"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="grid-block">
                                    <div class="medium-10 grid-block">
                                        Lorem ipsum dolor sit amet, ea cum nobis graecis repudiandae. Clita congue putent ius ea, in dicat movet quaestio eos
                                    </div>
                                    <div class="medium-1 grid-block">
                                        <a href="#"><i class="foundicon-edit general-icon"></i></a>
                                    </div>
                                    <div class="medium-1 grid-block">
                                        <a href="#"><i class="foundicon-trash general-icon"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="grid-block">
                                    <div class="medium-10 grid-block">
                                        Lorem ipsum dolor sit amet, ea cum nobis graecis repudiandae. Clita congue putent ius ea, in dicat movet quaestio eos
                                    </div>
                                    <div class="medium-1 grid-block">
                                        <a href="#"><i class="foundicon-edit general-icon"></i></a>
                                    </div>
                                    <div class="medium-1 grid-block">
                                        <a href="#"><i class="foundicon-trash general-icon"></i></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>