<div class="secondary-menu grid-block">
   <div class="large-12 grid-block">
      <div class="grid-content">
         <h5>Home</h5>
      </div>
   </div>
</div>
<div class="grid-block">

   <div class="medium-9 grid-block">
      <div class="card content">
         <div class="card-divider">
            Candidates
         </div>
         <div class="card-section">
            <table>
               <thead>
                  <tr>
                     <th>№</th>
                     <th>Vacancy name</th>
                     <th>State</th>
                     <th>Responsible</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>1</td>
                     <td>.NET Developer</td>
                     <td>Open</td>
                     <td>Kulish Alina</td>
                  </tr>
                  <tr>
                     <td>2</td>
                     <td>.NET Developer</td>
                     <td>Open</td>
                     <td>Kulish Alina</td>
                  </tr>
                  <tr>
                     <td>3</td>
                     <td>.NET Developer</td>
                     <td>Open</td>
                     <td>Kulish Alina</td>
                  </tr>
                  <tr>
                     <td>4</td>
                     <td>.NET Developer</td>
                     <td>Open</td>
                     <td>Kulish Alina</td>
                  </tr>
               </tbody>
            </table>
         </div>
         <div class="card-section pages">
            <ul class="button-group segmented">
               <li><a href="#">1</a></li>
               <li><a href="#">2</a></li>
               <li><a href="#">3</a></li>
               <li><a href="#">4</a></li>
               <li><a href="#">5</a></li>
            </ul>
         </div>
      </div>
   </div>
   <div class="medium-3 grid-block">
      <div class="vertical grid-block">
         <div class="card content side-bar">
            <div class="card-divider">
               Upcomming ivents
            </div>
            <div class="card-section">
               <section class="block-list">
                  <ul>
                     <li><a href="#">List item 1</a></li>
                     <li><a href="#">List item 2</a></li>
                     <li><a href="#">List item 3</a></li>
                  </ul>
               </section>
            </div>
         </div>
         <div class="card content  side-bar">
            <div class="card-divider">
               Notes
            </div>
            <div class="card-section">
               <textarea placeholder="Text field"></textarea>
               <a class="expand button" href="#">Save</a>
            </div>
         </div>
      </div>

   </div>
</div>