@import '../../common.scss';

.modal {
   max-width: $rem-base*56.25 !important;
   width: auto !important;
   height: auto !important;
   max-height: $rem-base*50 !important;
}
.dialog-button-group {
   float: right;
}
.dialog-button-group :first-child {
   margin-right: $rem-base/2;
}