@import '../../common.scss';

.modal {
   max-width: $rem-base*56.25 !important;
   width: auto;
   height: auto !important;
   max-height: $rem-base*50 !important;
   position: relative;
}
.dialog-button-group {
   margin-top: $rem-base / 4;
   float: right;
}
.dialog-button-group :first-child {
   margin-right: $rem-base/2;
}