@import '../../common.scss';

$primary-hover-color: #068D9C;
$bgcolor: #3FB7C4;

.login-page {
   width: 70%;
   margin-top: $rem-base*3;
   margin-left: 15%;
   margin-right:15%;
}
.form {
   position: relative;
   z-index: 1;
   background: $light-color;
   max-width: 400px;
   margin: auto;
   padding: 45px;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
   outline: 0;
   background: #f2f2f2;
   width: 100%;
   border: 0;
   padding: 7px 15px 7px 15px;
   box-sizing: border-box;
   font-size: 14px;
}
.form button {

   text-transform: uppercase;
   outline: 0;
   background: $primary-color;
   width: 100%;
   border: 0;
   padding: 15px;
   color: #FFFFFF;
   font-size: 14px;
   -webkit-transition: all 0.3 ease;
   transition: all 0.3 ease;
   cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
   background: $primary-hover-color;
}

.form .login-header {
   text-align: left;
   margin-bottom: 12px;
}

.forgot {
   display: flex;
   justify-content: flex-end;
   margin-top: 1rem;
}


//loading

.spinner {
  width: 100px;
  height: 100px;

  position: absolute;
  top: calc(50% - 70px);
  left: calc(50% - 50px);
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #9c9;
  border: solid 3px #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.overlay {
  opacity: .75;
  background-color: #000;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  position: absolute;
  z-index: 5;
  margin: -20px -20px;
  border-radius: 3px;
}

.please-wait {
  text-align: center;
  position: absolute;
  top: calc(50% + 45px);
  left: calc(50% - 45px);
  color: #fff;
  z-index: 10;
}

.full-screen {
   position: fixed;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   z-index: 10;
}
