@import './../../common.scss';

.main-menu {
   min-height: $rem-base*3.125;
   max-height: $rem-base*3.125;
   background-color: $menubar-background;
   padding-left: $global-padding/2;
   padding-right: $global-padding/2;
   padding-bottom: 0;
   padding-top: 0;
   display: flex;
   align-items: center;
}
.main-button-bar {
   @include menu-bar-layout(
      $orientation: horizontal,
      $stretch: false
   );

   @include menu-bar-style(
      $background: $menubar-background,
      $background-hover: $menubar-background,
      $background-active: $menubar-background,
      $color: $body-background,
      $color-hover: $body-background,
      $color-active: $body-background
   );
   @include menu-bar-align($align: center);
}
.main-button-bar i {
   font-size: $rem-base*0.6;
}
.main-button-bar :hover {
   box-shadow: inset 0px 0px 10px 0px transparentize($body-font-color, 0.9);
}
.menu-img {
   width: $rem-base*3.125;
}
.search {
   margin-bottom: 0 !important;
}

.for-large-screen {
   @include breakpoint(medium only) {
     display: none;
   }
   @include breakpoint(small only) {
     display: none;
   }
}
.for-small-screen {
   @include breakpoint(large only) {
     display: none;
   }
}
.search-button {
   padding-top: 4;
   padding-bottom: 0;
}
.logo {
   @include breakpoint(small only) {
     display: none;
   }
}
